flow_iluminacion.json
[
    {
        "id": "de075408ef8a8106",
        "type": "tab",
        "label": "II11",
        "disabled": false,
        "info": ""
    },
    {
        "id": "10ca8e2aa02a4613",
        "type": "group",
        "z": "de075408ef8a8106",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "509e161bd0a75b9b",
            "fd6aa1101aa6cc14",
            "756d7feedde7b4cd",
            "321b2aba65f776d0",
            "1f8037e7a98578ab",
            "46ef86c2864dcc8c",
            "4ea7355940a38d53",
            "b59890501a453943",
            "959e8e7e8dc3ca29",
            "8b9072795654505f",
            "698df1dae34ba2ed",
            "647e59f358fad2a3",
            "8a536553b1e37f0e",
            "25e56f3ab90b50bb",
            "6f49e3886cfc9d93",
            "fd8a22bcb8658bb0",
            "6fc22e86d491535b"
        ],
        "x": 154,
        "y": 1799,
        "w": 972,
        "h": 422
    },
    {
        "id": "3c64428d5ae85b5e",
        "type": "group",
        "z": "de075408ef8a8106",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "1d1191e3b2871522",
            "69da7ce2c1ce88ba",
            "bf06956e1baef9d2",
            "5ea762b0bed270bf",
            "743143c4e17ccc23",
            "3cb4a3ceb1a93cec",
            "bd5a2b8453534ff3",
            "9eb11f07c608db78"
        ],
        "x": 2574,
        "y": 1979,
        "w": 1252,
        "h": 182
    },
    {
        "id": "488b6d0769cb0f3b",
        "type": "group",
        "z": "de075408ef8a8106",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "ff28b3b8fb54ef20",
            "03f15652e8ecc57a",
            "bc1458b935f1aea3",
            "f7dcc482c575361f",
            "2d84ad2e25cfadb7",
            "b38443f6a7a68e6e",
            "6e701d8e56bc3af2",
            "12baa00889707f7e",
            "56f91042d7c74359",
            "28db7f535f269e40",
            "5438823d0d2886bd",
            "3f15afdf69c117c9",
            "0c2e8efa4d90ad0e",
            "2206fd2b1d2c74c5",
            "0ac27d9a8b2c4452"
        ],
        "x": 154,
        "y": 2299,
        "w": 1312,
        "h": 382
    },
    {
        "id": "5dae8e19c41a8d58",
        "type": "group",
        "z": "de075408ef8a8106",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "a3a3104277ec5000",
            "421b8b964bb85fcd",
            "47977cd681be5d47",
            "ae2199ae0f14dbec",
            "48a394be81a1ba23",
            "47688b115a83e709",
            "1f5bf63b3252b39a",
            "b4abf9eb77fd5b6b",
            "88068a667d7915d4",
            "82fb65a6ea6ba205",
            "2e29c362c462ec0d",
            "16cf805d4f7a3968",
            "efc019eb3d78c3ed",
            "f57782a05851a7ca",
            "61d5bc2f28434f74",
            "dfda8aa17ba82a81",
            "3f21fd1e443d4214",
            "875054241f8dec9b",
            "7b7f430ce62b55f1",
            "0362fd14f1322fe7",
            "72a569d0ff29569e",
            "2aafe4d03be8aca0",
            "f9953254dc333bab",
            "6c11ed28dc8a84e5",
            "9d55c9942fb80150",
            "45d1479ea6b4421c",
            "6425b5c0e6e63259",
            "d5e4cd8a5a42b191",
            "3819d8b6687c37d5",
            "9ad0a8b0a060f53c",
            "154cc23569f39e43",
            "e87e697f90039d02",
            "861a14172d4289dd",
            "ea32bc23cd5a2ebf",
            "21378628b3d5bb90",
            "53f3657f8dce273e",
            "5f01b0312de8a5c3"
        ],
        "x": 154,
        "y": 79,
        "w": 2192,
        "h": 622
    },
    {
        "id": "84c380b141d1efdf",
        "type": "group",
        "z": "de075408ef8a8106",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "52cef40dfc0942cb",
            "1b59586c36971e51",
            "440f60d257bebcee",
            "7b1fec78953387df",
            "581bda31f009290e"
        ],
        "x": 1294,
        "y": 1819,
        "w": 832,
        "h": 162
    },
    {
        "id": "97771dc947157f6d",
        "type": "group",
        "z": "de075408ef8a8106",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "c131d0e67f9309b5",
            "73bccc0ffecdb98d",
            "213abab8c59ef01c",
            "eee208bf9d796f8d",
            "3065657547a2fd10",
            "a1696c27b09f9ebe",
            "b59326e3da5daee1",
            "d58c4916da94297c",
            "63a008de3c8afdbb",
            "e93a16ed65802690",
            "c630aea4967677d5",
            "7a695927fe3ea95b",
            "828bb1aac2d3b77d",
            "f297527a466648b0",
            "f9c2a40a4d083c68",
            "9d6cdaa748474b6b",
            "b725cb37838b0a4c",
            "e08889876cfa5d2c",
            "3614fe98ae3f548a",
            "51d1f6268fc7ab6f",
            "1168982e773c3398",
            "5d084fc11c5a81f4",
            "ca496306b84974e0",
            "9563a2c73f617680",
            "697c7806511e9b4e",
            "7f6989cd9593f3f6",
            "7fdc0e316111cab6",
            "365d242004b9b2de",
            "d6884d3d9e784787",
            "ceea169017f8e10c",
            "8a93e32277e16838"
        ],
        "x": 2574,
        "y": 79,
        "w": 1392,
        "h": 562
    },
    {
        "id": "9cc65e5076215eb6",
        "type": "group",
        "z": "de075408ef8a8106",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "d291fa6487420dfe",
            "c4da2ffd24d804e5",
            "91df52069906ac28",
            "1bd9691b56d21ba3",
            "7dc77a51bebe78e5",
            "92480a9217589f82",
            "a0d90d0c0cff13f5",
            "1553c6fe4d8ee715",
            "4a4445f51db1ccaa",
            "3f35b5b06ac29438",
            "c48d58e931f640ed",
            "7db25dc57bf0cd5e",
            "61272f359edfa0ed",
            "41abc12fd5db62b1",
            "18d72367634c6dc6",
            "4544a7cee001dc67",
            "216f99e270171e4c",
            "c3dfe686adec3aaa",
            "9b0108fd49841d19",
            "22d7372b567214d0",
            "59452b4492f92219",
            "7a9e946c575f0c58"
        ],
        "x": 2574,
        "y": 839,
        "w": 1472,
        "h": 482
    },
    {
        "id": "ce9127cdcf98a345",
        "type": "group",
        "z": "de075408ef8a8106",
        "name": "",
        "style": {
            "label": true
        },
        "nodes": [
            "a7228324dd818d2e",
            "66e7d22782f06480",
            "90e77ab4a40df55d",
            "6a749756324e4f15",
            "a1742015cf28d5bd",
            "8b585e33d148c7b4",
            "e360f26b82e24b23",
            "aa325f8cc3c7dbed",
            "35a2c3c1b6909a4d",
            "56b0d0c7ffa46fb7",
            "8f46d0faac28b3e4",
            "6fd5bf872b94b456",
            "3b2ebb2107d6d38d",
            "d31988b0dff5c3ec",
            "20808ed03e4a2b89",
            "f7b3eacdcfeedcf7",
            "6e63a452aae84264",
            "9324c5a9fea2bb1e",
            "a9536f093c3f8397",
            "153f4ae818bc4293",
            "5e7f22fc2f8d6f9c",
            "04c2364c35a02b7a",
            "11a0858e2baed9f2",
            "91a20dd32a88bcc7"
        ],
        "x": 2574,
        "y": 1439,
        "w": 1612,
        "h": 462
    },
    {
        "id": "dd2a2df5e5591e61",
        "type": "group",
        "z": "de075408ef8a8106",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "3cf7e72cf7dcfc19",
            "99b6941e8049e959",
            "dd2a2deaebe6371c",
            "f11ea62df76e8f87",
            "7b4f936879952936",
            "a5bdd7637b23ff94",
            "b0dd56b4dfe2e69a",
            "d2c13c1da49859bc",
            "f23d4a0ee18440b7",
            "483b5bf4922c74ca",
            "fc459a80fcc6de8d",
            "404006ed93b8de44",
            "6d130cade7185f9b",
            "72e42de488433aa4",
            "0034a7a20359dda4",
            "f3e459e20dbd2905",
            "67f3070219f2c07f",
            "02dcc07ce4001492",
            "831bd2ddd0c8aa1f",
            "cd6b05b548e799cd",
            "7b2a7896a76b9b62",
            "a8ecb52231531980",
            "216fdc4082f04251",
            "a2d6efbc4faa35f6",
            "b8ec7d8e86ad0376"
        ],
        "x": 154,
        "y": 1199,
        "w": 1652,
        "h": 482
    },
    {
        "id": "df483cb5ea10103e",
        "type": "group",
        "z": "de075408ef8a8106",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "1630883d31f8faa7",
            "5ed4acd2bea58e11",
            "c4878ff9a5b39b3b",
            "e5c3f7fadee1170e",
            "1d1dfb4917a37223",
            "67a1a78b6d01e7bc",
            "6e4aca9b7d8df604",
            "01c90d371ec56b49",
            "2d648814aa258f98",
            "25a4f95b173bbe13",
            "8881705b73ed77e7",
            "ed347a8aaffe2e97",
            "901ed0fbb276e5e6",
            "c7b91996d69696ad",
            "7b4145e04d2dacf5",
            "bfe0e6db84cf798e",
            "9855154d253d4f92",
            "6d347f04eba883e8",
            "8d3433a6d2bbfe70",
            "9dee38f7e8bfd9b5",
            "d7d861753929d300",
            "2415506cdb816a18",
            "f796a6c90f6fd719",
            "1dd296e85d3ac2ff",
            "4e104f1c879412d2",
            "b1260a130b8a9bb3"
        ],
        "x": 2594,
        "y": 2359,
        "w": 752,
        "h": 522
    },
    {
        "id": "e0b5f2d450afd5b6",
        "type": "group",
        "z": "de075408ef8a8106",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "11777c226ecb7ebc",
            "3d9e61ab33508e14",
            "68259fbd7bd3f3b3",
            "a2464db0dc91c032",
            "c87ca311af042e3e",
            "205954a11d50995b",
            "3d415003e52784ee",
            "14b0e1558105d8ad",
            "49e9c53dbdcb7918",
            "9997ccc4889721cb",
            "6d906b7caf2f0ea4",
            "87ec9d1cb4ec13b0",
            "7237ab4201d90c96",
            "b278ac662c163972",
            "6ccafe532933264e",
            "cdba846f125ec4aa",
            "3aa61aabad49ec60"
        ],
        "x": 154,
        "y": 799,
        "w": 2112,
        "h": 322
    },
    {
        "id": "d291fa6487420dfe",
        "type": "mqtt in",
        "z": "de075408ef8a8106",
        "g": "9cc65e5076215eb6",
        "name": "",
        "topic": "II11/ESP0010C48E/datos_VMA407N",
        "qos": "2",
        "datatype": "auto",
        "broker": "04bc427a36cc5248",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 2740,
        "y": 1120,
        "wires": [
            [
                "c4da2ffd24d804e5"
            ]
        ]
    },
    {
        "id": "c4da2ffd24d804e5",
        "type": "json",
        "z": "de075408ef8a8106",
        "g": "9cc65e5076215eb6",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 2990,
        "y": 1120,
        "wires": [
            [
                "1bd9691b56d21ba3",
                "91df52069906ac28",
                "7dc77a51bebe78e5",
                "3f35b5b06ac29438",
                "7db25dc57bf0cd5e",
                "61272f359edfa0ed",
                "c48d58e931f640ed",
                "18d72367634c6dc6",
                "7a9e946c575f0c58"
            ]
        ]
    },
    {
        "id": "91df52069906ac28",
        "type": "ui_text",
        "z": "de075408ef8a8106",
        "g": "9cc65e5076215eb6",
        "group": "ba999e6d4e51b0a9",
        "order": 2,
        "width": 6,
        "height": 2,
        "name": "",
        "label": "SENSOR LUZ",
        "format": "{{msg.payload.VMA407N.iluminacion}}",
        "layout": "row-left",
        "className": "",
        "x": 3520,
        "y": 1080,
        "wires": []
    },
    {
        "id": "1bd9691b56d21ba3",
        "type": "ui_text",
        "z": "de075408ef8a8106",
        "g": "9cc65e5076215eb6",
        "group": "43f8774a7d6f73e8",
        "order": 2,
        "width": "7",
        "height": "1",
        "name": "",
        "label": "SSID",
        "format": "{{msg.payload.Wifi.SSID}}",
        "layout": "row-left",
        "className": "",
        "x": 3490,
        "y": 1120,
        "wires": []
    },
    {
        "id": "3cf7e72cf7dcfc19",
        "type": "ui_slider",
        "z": "de075408ef8a8106",
        "g": "dd2a2df5e5591e61",
        "name": "",
        "label": "Valor Crítico",
        "tooltip": "",
        "group": "43f8774a7d6f73e8",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "1023",
        "step": 1,
        "className": "",
        "x": 470,
        "y": 1440,
        "wires": [
            [
                "f23d4a0ee18440b7"
            ]
        ]
    },
    {
        "id": "99b6941e8049e959",
        "type": "ui_slider",
        "z": "de075408ef8a8106",
        "g": "dd2a2df5e5591e61",
        "name": "",
        "label": "T. Enviar (ms)",
        "tooltip": "",
        "group": "43f8774a7d6f73e8",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "10000",
        "step": "100",
        "className": "",
        "x": 480,
        "y": 1320,
        "wires": [
            [
                "b0dd56b4dfe2e69a"
            ]
        ]
    },
    {
        "id": "dd2a2deaebe6371c",
        "type": "ui_slider",
        "z": "de075408ef8a8106",
        "g": "dd2a2df5e5591e61",
        "name": "",
        "label": "T. Actualización",
        "tooltip": "",
        "group": "43f8774a7d6f73e8",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "20",
        "step": 1,
        "className": "",
        "x": 480,
        "y": 1380,
        "wires": [
            [
                "d2c13c1da49859bc"
            ]
        ]
    },
    {
        "id": "11777c226ecb7ebc",
        "type": "ui_switch",
        "z": "de075408ef8a8106",
        "g": "e0b5f2d450afd5b6",
        "name": "",
        "label": "COLOR INVERSO",
        "tooltip": "",
        "group": "7d816a01a4a4b0c4",
        "order": 2,
        "width": 6,
        "height": 2,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 1130,
        "y": 1080,
        "wires": [
            [
                "9997ccc4889721cb"
            ]
        ]
    },
    {
        "id": "f11ea62df76e8f87",
        "type": "ui_button",
        "z": "de075408ef8a8106",
        "g": "dd2a2df5e5591e61",
        "name": "",
        "group": "43f8774a7d6f73e8",
        "order": 10,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Actualizar Configuración",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "1",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 430,
        "y": 1560,
        "wires": [
            [
                "483b5bf4922c74ca"
            ]
        ]
    },
    {
        "id": "7b4f936879952936",
        "type": "mqtt out",
        "z": "de075408ef8a8106",
        "g": "dd2a2df5e5591e61",
        "name": "",
        "topic": "II11/ESP0010C48E/configuracion_cmd",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "04bc427a36cc5248",
        "x": 1250,
        "y": 1440,
        "wires": []
    },
    {
        "id": "a5bdd7637b23ff94",
        "type": "function",
        "z": "de075408ef8a8106",
        "g": "dd2a2df5e5591e61",
        "name": "",
        "func": "msg.payload = {};\nmsg.payload.t_enviar = flow.get(\"enviar\");   //Paso de min a ms\nmsg.payload.t_actualizar = flow.get(\"actualizar\")*60000;  //Se envia en ms\nmsg.payload.val_critico = flow.get(\"critico\");\nmsg.payload.val_bajo = flow.get(\"bajo\");\nmsg.payload.config = flow.get(\"config\");\nflow.set(\"config\",0);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 980,
        "y": 1440,
        "wires": [
            [
                "7b4f936879952936"
            ]
        ]
    },
    {
        "id": "b0dd56b4dfe2e69a",
        "type": "change",
        "z": "de075408ef8a8106",
        "g": "dd2a2df5e5591e61",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "enviar",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 720,
        "y": 1320,
        "wires": [
            [
                "a5bdd7637b23ff94"
            ]
        ]
    },
    {
        "id": "d2c13c1da49859bc",
        "type": "change",
        "z": "de075408ef8a8106",
        "g": "dd2a2df5e5591e61",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "actualizar",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 730,
        "y": 1380,
        "wires": [
            [
                "a5bdd7637b23ff94"
            ]
        ]
    },
    {
        "id": "f23d4a0ee18440b7",
        "type": "change",
        "z": "de075408ef8a8106",
        "g": "dd2a2df5e5591e61",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "critico",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 720,
        "y": 1440,
        "wires": [
            [
                "a5bdd7637b23ff94",
                "6d130cade7185f9b"
            ]
        ]
    },
    {
        "id": "3d9e61ab33508e14",
        "type": "change",
        "z": "de075408ef8a8106",
        "g": "e0b5f2d450afd5b6",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "inverso",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1580,
        "y": 1080,
        "wires": [
            [
                "a2464db0dc91c032"
            ]
        ]
    },
    {
        "id": "483b5bf4922c74ca",
        "type": "change",
        "z": "de075408ef8a8106",
        "g": "dd2a2df5e5591e61",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "config",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 720,
        "y": 1560,
        "wires": [
            [
                "a5bdd7637b23ff94"
            ]
        ]
    },
    {
        "id": "fc459a80fcc6de8d",
        "type": "ui_slider",
        "z": "de075408ef8a8106",
        "g": "dd2a2df5e5591e61",
        "name": "",
        "label": "Valor Bajo",
        "tooltip": "",
        "group": "43f8774a7d6f73e8",
        "order": 9,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "1023",
        "step": 1,
        "className": "",
        "x": 470,
        "y": 1500,
        "wires": [
            [
                "404006ed93b8de44"
            ]
        ]
    },
    {
        "id": "404006ed93b8de44",
        "type": "change",
        "z": "de075408ef8a8106",
        "g": "dd2a2df5e5591e61",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "bajo",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 710,
        "y": 1500,
        "wires": [
            [
                "a5bdd7637b23ff94",
                "6d130cade7185f9b"
            ]
        ]
    },
    {
        "id": "6d130cade7185f9b",
        "type": "switch",
        "z": "de075408ef8a8106",
        "g": "dd2a2df5e5591e61",
        "name": "",
        "property": "critico",
        "propertyType": "flow",
        "rules": [
            {
                "t": "gt",
                "v": "bajo",
                "vt": "flow"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1030,
        "y": 1520,
        "wires": [
            [
                "0034a7a20359dda4"
            ]
        ]
    },
    {
        "id": "72e42de488433aa4",
        "type": "ui_toast",
        "z": "de075408ef8a8106",
        "g": "dd2a2df5e5591e61",
        "position": "top left",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 1560,
        "y": 1520,
        "wires": []
    },
    {
        "id": "0034a7a20359dda4",
        "type": "template",
        "z": "de075408ef8a8106",
        "g": "dd2a2df5e5591e61",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "UMBRALES CRITICO Y BAJO MAL INTRODUCIDOS",
        "output": "str",
        "x": 1200,
        "y": 1520,
        "wires": [
            [
                "72e42de488433aa4",
                "7b2a7896a76b9b62"
            ]
        ]
    },
    {
        "id": "f3e459e20dbd2905",
        "type": "inject",
        "z": "de075408ef8a8106",
        "g": "dd2a2df5e5591e61",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 250,
        "y": 1560,
        "wires": [
            [
                "f11ea62df76e8f87"
            ]
        ]
    },
    {
        "id": "67f3070219f2c07f",
        "type": "inject",
        "z": "de075408ef8a8106",
        "g": "dd2a2df5e5591e61",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0",
        "topic": "",
        "payload": "5000",
        "payloadType": "num",
        "x": 310,
        "y": 1320,
        "wires": [
            [
                "99b6941e8049e959"
            ]
        ]
    },
    {
        "id": "02dcc07ce4001492",
        "type": "inject",
        "z": "de075408ef8a8106",
        "g": "dd2a2df5e5591e61",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0",
        "topic": "",
        "payload": "10",
        "payloadType": "num",
        "x": 310,
        "y": 1380,
        "wires": [
            [
                "dd2a2deaebe6371c"
            ]
        ]
    },
    {
        "id": "831bd2ddd0c8aa1f",
        "type": "inject",
        "z": "de075408ef8a8106",
        "g": "dd2a2df5e5591e61",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0",
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 310,
        "y": 1440,
        "wires": [
            [
                "3cf7e72cf7dcfc19"
            ]
        ]
    },
    {
        "id": "cd6b05b548e799cd",
        "type": "inject",
        "z": "de075408ef8a8106",
        "g": "dd2a2df5e5591e61",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0",
        "topic": "",
        "payload": "800",
        "payloadType": "num",
        "x": 310,
        "y": 1500,
        "wires": [
            [
                "fc459a80fcc6de8d"
            ]
        ]
    },
    {
        "id": "68259fbd7bd3f3b3",
        "type": "mqtt out",
        "z": "de075408ef8a8106",
        "g": "e0b5f2d450afd5b6",
        "name": "",
        "topic": "II11/ESP0010C48E/modo_cmd",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "04bc427a36cc5248",
        "x": 2110,
        "y": 960,
        "wires": []
    },
    {
        "id": "a2464db0dc91c032",
        "type": "function",
        "z": "de075408ef8a8106",
        "g": "e0b5f2d450afd5b6",
        "name": "",
        "func": "var modos = flow.get([\"automatico\",\"party\",\"inverso\"]);\n\nmsg.payload = {};\n\nmsg.payload.modo_auto = modos [0];\nmsg.payload.modo_party = modos [1];\nmsg.payload.modo_inverso = modos [2];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1780,
        "y": 980,
        "wires": [
            [
                "68259fbd7bd3f3b3"
            ]
        ]
    },
    {
        "id": "c87ca311af042e3e",
        "type": "change",
        "z": "de075408ef8a8106",
        "g": "e0b5f2d450afd5b6",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "party",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1550,
        "y": 980,
        "wires": [
            [
                "a2464db0dc91c032"
            ]
        ]
    },
    {
        "id": "205954a11d50995b",
        "type": "change",
        "z": "de075408ef8a8106",
        "g": "e0b5f2d450afd5b6",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "automatico",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1430,
        "y": 900,
        "wires": [
            [
                "a2464db0dc91c032"
            ]
        ]
    },
    {
        "id": "3d415003e52784ee",
        "type": "ui_switch",
        "z": "de075408ef8a8106",
        "g": "e0b5f2d450afd5b6",
        "name": "",
        "label": "CONTROL AUTOMATICO",
        "tooltip": "",
        "group": "7d816a01a4a4b0c4",
        "order": 1,
        "width": 6,
        "height": 2,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 1130,
        "y": 900,
        "wires": [
            [
                "205954a11d50995b"
            ]
        ]
    },
    {
        "id": "14b0e1558105d8ad",
        "type": "ui_switch",
        "z": "de075408ef8a8106",
        "g": "e0b5f2d450afd5b6",
        "name": "",
        "label": "PARTY!",
        "tooltip": "",
        "group": "7d816a01a4a4b0c4",
        "order": 4,
        "width": 6,
        "height": 2,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 1140,
        "y": 980,
        "wires": [
            [
                "49e9c53dbdcb7918"
            ]
        ]
    },
    {
        "id": "49e9c53dbdcb7918",
        "type": "switch",
        "z": "de075408ef8a8106",
        "g": "e0b5f2d450afd5b6",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "neq",
                "v": "party",
                "vt": "flow"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1350,
        "y": 980,
        "wires": [
            [
                "c87ca311af042e3e"
            ]
        ]
    },
    {
        "id": "9997ccc4889721cb",
        "type": "switch",
        "z": "de075408ef8a8106",
        "g": "e0b5f2d450afd5b6",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "neq",
                "v": "inverso",
                "vt": "flow"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1370,
        "y": 1080,
        "wires": [
            [
                "3d9e61ab33508e14"
            ]
        ]
    },
    {
        "id": "a7228324dd818d2e",
        "type": "ui_button",
        "z": "de075408ef8a8106",
        "g": "ce9127cdcf98a345",
        "name": "ultimo dia",
        "group": "9a4ea4864bcd614a",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Último día",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "dia",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 2700,
        "y": 1540,
        "wires": [
            [
                "6a749756324e4f15",
                "a1742015cf28d5bd"
            ]
        ]
    },
    {
        "id": "66e7d22782f06480",
        "type": "ui_button",
        "z": "de075408ef8a8106",
        "g": "ce9127cdcf98a345",
        "name": "ultimo mes",
        "group": "9a4ea4864bcd614a",
        "order": 12,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Último mes",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "mes",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 2690,
        "y": 1620,
        "wires": [
            [
                "6a749756324e4f15",
                "a1742015cf28d5bd"
            ]
        ]
    },
    {
        "id": "90e77ab4a40df55d",
        "type": "ui_button",
        "z": "de075408ef8a8106",
        "g": "ce9127cdcf98a345",
        "name": "ultima semana",
        "group": "9a4ea4864bcd614a",
        "order": 10,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Última semana",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "semana",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 2680,
        "y": 1580,
        "wires": [
            [
                "6a749756324e4f15",
                "a1742015cf28d5bd"
            ]
        ]
    },
    {
        "id": "6a749756324e4f15",
        "type": "function",
        "z": "de075408ef8a8106",
        "g": "ce9127cdcf98a345",
        "name": "desde",
        "func": "var criterio = new Date();\ncriterio = criterio.getTime();\n\nif(msg.payload == \"dia\"){\n    criterio = criterio - 1000*60*60*24;\n}\nelse if(msg.payload == \"semana\"){\n    criterio = criterio - 1000*60*60*24*7;\n}\nelse if(msg.payload == \"mes\"){\n    criterio = criterio - 1000*60*60*24*30;\n} \n\nmsg.payload = criterio;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2890,
        "y": 1580,
        "wires": [
            [
                "aa325f8cc3c7dbed"
            ]
        ]
    },
    {
        "id": "a1742015cf28d5bd",
        "type": "function",
        "z": "de075408ef8a8106",
        "g": "ce9127cdcf98a345",
        "name": "ahora",
        "func": "msg.payload = new Date();\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2890,
        "y": 1640,
        "wires": [
            [
                "35a2c3c1b6909a4d"
            ]
        ]
    },
    {
        "id": "8b585e33d148c7b4",
        "type": "ui_date_picker",
        "z": "de075408ef8a8106",
        "g": "ce9127cdcf98a345",
        "name": "Inicio",
        "label": "Desde:",
        "group": "9a4ea4864bcd614a",
        "order": 14,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 2710,
        "y": 1680,
        "wires": [
            [
                "aa325f8cc3c7dbed"
            ]
        ]
    },
    {
        "id": "e360f26b82e24b23",
        "type": "ui_date_picker",
        "z": "de075408ef8a8106",
        "g": "ce9127cdcf98a345",
        "name": "Final",
        "label": "Hasta:",
        "group": "9a4ea4864bcd614a",
        "order": 16,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 2710,
        "y": 1720,
        "wires": [
            [
                "35a2c3c1b6909a4d"
            ]
        ]
    },
    {
        "id": "aa325f8cc3c7dbed",
        "type": "change",
        "z": "de075408ef8a8106",
        "g": "ce9127cdcf98a345",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "desde",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 3100,
        "y": 1680,
        "wires": [
            [
                "56b0d0c7ffa46fb7",
                "8f46d0faac28b3e4",
                "d31988b0dff5c3ec"
            ]
        ]
    },
    {
        "id": "35a2c3c1b6909a4d",
        "type": "change",
        "z": "de075408ef8a8106",
        "g": "ce9127cdcf98a345",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "hasta",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 3100,
        "y": 1720,
        "wires": [
            [
                "56b0d0c7ffa46fb7",
                "8f46d0faac28b3e4",
                "d31988b0dff5c3ec"
            ]
        ]
    },
    {
        "id": "56b0d0c7ffa46fb7",
        "type": "function",
        "z": "de075408ef8a8106",
        "g": "ce9127cdcf98a345",
        "name": "consulta",
        "func": "var ahora = new Date();\nvar desde = new Date(flow.get(\"desde\") || ahora);\nvar hasta = new Date(flow.get(\"hasta\") || ahora);\n\nvar inicio = new Date(desde.getFullYear(),desde.getMonth(), desde.getDate(),1,0,0,0);\nvar final = new Date(hasta.getFullYear(),hasta.getMonth(), hasta.getDate(),23,59,59,99);\n\nmsg.inicio = inicio;\nmsg.final = final;\n\nmsg.payload = \n[\n    {\"$match\": {\"payload.date\": {\"$gte\":inicio, \"$lte\":final} } },\n    {\"$project\": {\n        \"_id\": 0,\n        \"date\": \"$payload.date\",\n        \"sensor\": \"$payload.VMA407N.iluminacion\"\n        },\n    },\n    {\"$sort\": {\"date\":-1}}\n];\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3300,
        "y": 1660,
        "wires": [
            [
                "6fd5bf872b94b456"
            ]
        ]
    },
    {
        "id": "8f46d0faac28b3e4",
        "type": "function",
        "z": "de075408ef8a8106",
        "g": "ce9127cdcf98a345",
        "name": "consulta",
        "func": "var ahora = new Date();\nvar desde = new Date(flow.get(\"desde\") || ahora);\nvar hasta = new Date(flow.get(\"hasta\") || ahora);\n\nvar inicio = new Date(desde.getFullYear(),desde.getMonth(), desde.getDate(),1,0,0,0);\nvar final = new Date(hasta.getFullYear(),hasta.getMonth(), hasta.getDate(),23,59,59,99);\n\nmsg.inicio = inicio;\nmsg.final = final;\n\nmsg.payload = \n[\n    {\"$match\": {\"payload.date\": {\"$gte\":inicio, \"$lte\":final} } },\n    {\"$project\": {\n        \"_id\": 0,\n        \"date\": \"$payload.date\",\n        \"switch\": \"$payload.status_sw\",\n        \"origen\": \"$payload.origen\"\n        },\n    },\n    {\"$sort\": {\"date\":-1}}\n];\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3300,
        "y": 1700,
        "wires": [
            [
                "3b2ebb2107d6d38d"
            ]
        ]
    },
    {
        "id": "6fd5bf872b94b456",
        "type": "mongodb in",
        "z": "de075408ef8a8106",
        "g": "ce9127cdcf98a345",
        "mongodb": "113b3e6854d3cfbe",
        "name": "",
        "collection": "datosVMA407N",
        "operation": "aggregate",
        "x": 3560,
        "y": 1620,
        "wires": [
            [
                "a9536f093c3f8397"
            ]
        ]
    },
    {
        "id": "3b2ebb2107d6d38d",
        "type": "mongodb in",
        "z": "de075408ef8a8106",
        "g": "ce9127cdcf98a345",
        "mongodb": "113b3e6854d3cfbe",
        "name": "",
        "collection": "switch",
        "operation": "aggregate",
        "x": 3530,
        "y": 1700,
        "wires": [
            [
                "153f4ae818bc4293"
            ]
        ]
    },
    {
        "id": "d31988b0dff5c3ec",
        "type": "function",
        "z": "de075408ef8a8106",
        "g": "ce9127cdcf98a345",
        "name": "aggregate",
        "func": "var ahora = new Date();\n\nvar desde = new Date(flow.get(\"desde\") || ahora);\nvar hasta = new Date(flow.get(\"hasta\") || ahora);\n\nvar inicio = new Date(desde.getFullYear(),desde.getMonth(),desde.getDate(),0,0,0,0);\nvar final = new Date(hasta.getFullYear(),hasta.getMonth(),hasta.getDate(),23,59,59,999);\n\nmsg.payload = \n[\n    { \"$match\": { \"payload.date\": { \"$gte\": inicio , \"$lte\": final } } },\n    { \"$project\": {\n        \"iluminacion\": \"$payload.VMA407N.iluminacion\"\n        }\n    },\n    { \"$group\": {\n        \"_id\": 0,\n        \"Imedia\": {\"$avg\": \"$iluminacion\"},\n        \"Imax\": {\"$max\": \"$iluminacion\"},\n        \"Imin\": {\"$min\": \"$iluminacion\"},\n        \"Idesv\": {\"$stdDevSamp\":\"$iluminacion\"}\n        }\n    }\n];\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3300,
        "y": 1740,
        "wires": [
            [
                "20808ed03e4a2b89"
            ]
        ]
    },
    {
        "id": "20808ed03e4a2b89",
        "type": "mongodb in",
        "z": "de075408ef8a8106",
        "g": "ce9127cdcf98a345",
        "mongodb": "113b3e6854d3cfbe",
        "name": "",
        "collection": "datosVMA407N",
        "operation": "aggregate",
        "x": 3560,
        "y": 1800,
        "wires": [
            [
                "f7b3eacdcfeedcf7",
                "6e63a452aae84264",
                "9324c5a9fea2bb1e",
                "11a0858e2baed9f2"
            ]
        ]
    },
    {
        "id": "f7b3eacdcfeedcf7",
        "type": "ui_text",
        "z": "de075408ef8a8106",
        "g": "ce9127cdcf98a345",
        "group": "9a4ea4864bcd614a",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "I_max",
        "label": "Iluminacion Maxima en el periodo",
        "format": "{{msg.payload[0].Imax | number:1}}",
        "layout": "row-spread",
        "className": "",
        "x": 3810,
        "y": 1780,
        "wires": []
    },
    {
        "id": "6e63a452aae84264",
        "type": "ui_text",
        "z": "de075408ef8a8106",
        "g": "ce9127cdcf98a345",
        "group": "9a4ea4864bcd614a",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "I_min",
        "label": "Iluminacion Minima en el periodo",
        "format": "{{msg.payload[0].Imin | number:1}}",
        "layout": "row-spread",
        "className": "",
        "x": 3810,
        "y": 1820,
        "wires": []
    },
    {
        "id": "9324c5a9fea2bb1e",
        "type": "ui_text",
        "z": "de075408ef8a8106",
        "g": "ce9127cdcf98a345",
        "group": "9a4ea4864bcd614a",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "I_desviacion",
        "label": "Desviación en el periodo",
        "format": "{{msg.payload[0].Idesv | number:1}}",
        "layout": "row-spread",
        "className": "",
        "x": 3830,
        "y": 1860,
        "wires": []
    },
    {
        "id": "a9536f093c3f8397",
        "type": "template",
        "z": "de075408ef8a8106",
        "g": "ce9127cdcf98a345",
        "name": "lista en formato html",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": " <h1>Registros del sensor de luz en el periodo: </h1>\n <ul>\n{{#payload}}\n  <li>{{date}} : Luz {{sensor}} </li>\n{{/payload}}\n </ul>",
        "output": "str",
        "x": 3840,
        "y": 1620,
        "wires": [
            [
                "5e7f22fc2f8d6f9c"
            ]
        ]
    },
    {
        "id": "153f4ae818bc4293",
        "type": "template",
        "z": "de075408ef8a8106",
        "g": "ce9127cdcf98a345",
        "name": "lista en formato html",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": " <h1>Registros del switch en el periodo: </h1>\n <ul>\n{{#payload}}\n  <li>{{date}} : Interruptor {{switch}}, Origen {{origen}} </li>\n{{/payload}}\n </ul>",
        "output": "str",
        "x": 3820,
        "y": 1700,
        "wires": [
            [
                "04c2364c35a02b7a"
            ]
        ]
    },
    {
        "id": "5e7f22fc2f8d6f9c",
        "type": "ui_template",
        "z": "de075408ef8a8106",
        "g": "ce9127cdcf98a345",
        "group": "9a4ea4864bcd614a",
        "name": "Mongo VMA407N",
        "order": 18,
        "width": 8,
        "height": 4,
        "format": "<div ng-bind-html=\"msg.payload\"></div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 4070,
        "y": 1620,
        "wires": [
            []
        ]
    },
    {
        "id": "04c2364c35a02b7a",
        "type": "ui_template",
        "z": "de075408ef8a8106",
        "g": "ce9127cdcf98a345",
        "group": "9a4ea4864bcd614a",
        "name": "Mongo led",
        "order": 20,
        "width": 8,
        "height": 4,
        "format": "<div ng-bind-html=\"msg.payload\"></div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 4030,
        "y": 1700,
        "wires": [
            []
        ]
    },
    {
        "id": "7dc77a51bebe78e5",
        "type": "function",
        "z": "de075408ef8a8106",
        "g": "9cc65e5076215eb6",
        "name": "+ fecha",
        "func": "msg.payload.date = new Date();\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2780,
        "y": 1220,
        "wires": [
            [
                "4a4445f51db1ccaa"
            ]
        ]
    },
    {
        "id": "509e161bd0a75b9b",
        "type": "mqtt in",
        "z": "de075408ef8a8106",
        "g": "10ca8e2aa02a4613",
        "name": "",
        "topic": "II11/ESP0010C48E/modo_status",
        "qos": "2",
        "datatype": "auto",
        "broker": "04bc427a36cc5248",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 330,
        "y": 1900,
        "wires": [
            [
                "fd6aa1101aa6cc14"
            ]
        ]
    },
    {
        "id": "fd6aa1101aa6cc14",
        "type": "json",
        "z": "de075408ef8a8106",
        "g": "10ca8e2aa02a4613",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 550,
        "y": 1900,
        "wires": [
            [
                "8b9072795654505f"
            ]
        ]
    },
    {
        "id": "756d7feedde7b4cd",
        "type": "json",
        "z": "de075408ef8a8106",
        "g": "10ca8e2aa02a4613",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 550,
        "y": 1980,
        "wires": [
            [
                "698df1dae34ba2ed"
            ]
        ]
    },
    {
        "id": "92480a9217589f82",
        "type": "switch",
        "z": "de075408ef8a8106",
        "g": "9cc65e5076215eb6",
        "name": "",
        "property": "payload.VMA407N.iluminacion",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "critico",
                "vt": "flow"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 3190,
        "y": 920,
        "wires": [
            [
                "1553c6fe4d8ee715"
            ]
        ]
    },
    {
        "id": "a0d90d0c0cff13f5",
        "type": "ui_toast",
        "z": "de075408ef8a8106",
        "g": "9cc65e5076215eb6",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 3520,
        "y": 880,
        "wires": []
    },
    {
        "id": "1553c6fe4d8ee715",
        "type": "template",
        "z": "de075408ef8a8106",
        "g": "9cc65e5076215eb6",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "La iluminación actual es {{payload.VMA407N.iluminacion}} está por debajo de la crítica que es {{flow.critico}}.",
        "output": "str",
        "x": 3340,
        "y": 920,
        "wires": [
            [
                "a0d90d0c0cff13f5",
                "216f99e270171e4c"
            ]
        ]
    },
    {
        "id": "321b2aba65f776d0",
        "type": "mqtt in",
        "z": "de075408ef8a8106",
        "g": "10ca8e2aa02a4613",
        "name": "",
        "topic": "II11/ESP0010C48E/RGB_status",
        "qos": "2",
        "datatype": "auto",
        "broker": "04bc427a36cc5248",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 330,
        "y": 1980,
        "wires": [
            [
                "756d7feedde7b4cd"
            ]
        ]
    },
    {
        "id": "1f8037e7a98578ab",
        "type": "mqtt in",
        "z": "de075408ef8a8106",
        "g": "10ca8e2aa02a4613",
        "name": "",
        "topic": "II11/ESP0010C48E/switch_status",
        "qos": "2",
        "datatype": "auto",
        "broker": "04bc427a36cc5248",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 330,
        "y": 2080,
        "wires": [
            [
                "46ef86c2864dcc8c"
            ]
        ]
    },
    {
        "id": "46ef86c2864dcc8c",
        "type": "json",
        "z": "de075408ef8a8106",
        "g": "10ca8e2aa02a4613",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 550,
        "y": 2080,
        "wires": [
            [
                "647e59f358fad2a3"
            ]
        ]
    },
    {
        "id": "4ea7355940a38d53",
        "type": "mongodb out",
        "z": "de075408ef8a8106",
        "g": "10ca8e2aa02a4613",
        "mongodb": "113b3e6854d3cfbe",
        "name": "",
        "collection": "modos",
        "payonly": false,
        "upsert": false,
        "multi": false,
        "operation": "store",
        "x": 980,
        "y": 1900,
        "wires": []
    },
    {
        "id": "b59890501a453943",
        "type": "mongodb out",
        "z": "de075408ef8a8106",
        "g": "10ca8e2aa02a4613",
        "mongodb": "113b3e6854d3cfbe",
        "name": "",
        "collection": "RGB",
        "payonly": false,
        "upsert": false,
        "multi": false,
        "operation": "store",
        "x": 970,
        "y": 1980,
        "wires": []
    },
    {
        "id": "959e8e7e8dc3ca29",
        "type": "mongodb out",
        "z": "de075408ef8a8106",
        "g": "10ca8e2aa02a4613",
        "mongodb": "113b3e6854d3cfbe",
        "name": "",
        "collection": "switch",
        "payonly": false,
        "upsert": false,
        "multi": false,
        "operation": "store",
        "x": 970,
        "y": 2080,
        "wires": []
    },
    {
        "id": "8b9072795654505f",
        "type": "function",
        "z": "de075408ef8a8106",
        "g": "10ca8e2aa02a4613",
        "name": "+ fecha",
        "func": "msg.payload.date = new Date();\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 1900,
        "wires": [
            [
                "4ea7355940a38d53"
            ]
        ]
    },
    {
        "id": "698df1dae34ba2ed",
        "type": "function",
        "z": "de075408ef8a8106",
        "g": "10ca8e2aa02a4613",
        "name": "+ fecha",
        "func": "msg.payload.date = new Date();\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 1980,
        "wires": [
            [
                "b59890501a453943"
            ]
        ]
    },
    {
        "id": "647e59f358fad2a3",
        "type": "function",
        "z": "de075408ef8a8106",
        "g": "10ca8e2aa02a4613",
        "name": "+ fecha",
        "func": "msg.payload.date = new Date();\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 2080,
        "wires": [
            [
                "959e8e7e8dc3ca29"
            ]
        ]
    },
    {
        "id": "4a4445f51db1ccaa",
        "type": "mongodb out",
        "z": "de075408ef8a8106",
        "g": "9cc65e5076215eb6",
        "mongodb": "113b3e6854d3cfbe",
        "name": "",
        "collection": "datosVMA407N",
        "payonly": false,
        "upsert": false,
        "multi": false,
        "operation": "store",
        "x": 3000,
        "y": 1220,
        "wires": []
    },
    {
        "id": "3f35b5b06ac29438",
        "type": "ui_text",
        "z": "de075408ef8a8106",
        "g": "9cc65e5076215eb6",
        "group": "43f8774a7d6f73e8",
        "order": 1,
        "width": "7",
        "height": "1",
        "name": "",
        "label": "Chip Id",
        "format": "{{msg.payload.ChipId}}",
        "layout": "row-left",
        "className": "",
        "x": 3500,
        "y": 1000,
        "wires": []
    },
    {
        "id": "c48d58e931f640ed",
        "type": "ui_text",
        "z": "de075408ef8a8106",
        "g": "9cc65e5076215eb6",
        "group": "43f8774a7d6f73e8",
        "order": 5,
        "width": "4",
        "height": "1",
        "name": "",
        "label": "Uptime",
        "format": "{{msg.payload.uptime}}",
        "layout": "row-left",
        "className": "",
        "x": 3500,
        "y": 1040,
        "wires": []
    },
    {
        "id": "ff28b3b8fb54ef20",
        "type": "ui_text",
        "z": "de075408ef8a8106",
        "g": "488b6d0769cb0f3b",
        "group": "43f8774a7d6f73e8",
        "order": 11,
        "width": "7",
        "height": "1",
        "name": "",
        "label": "Switch",
        "format": "{{msg.payload.status_sw}}",
        "layout": "row-left",
        "className": "",
        "x": 1390,
        "y": 2560,
        "wires": []
    },
    {
        "id": "7db25dc57bf0cd5e",
        "type": "ui_text",
        "z": "de075408ef8a8106",
        "g": "9cc65e5076215eb6",
        "group": "43f8774a7d6f73e8",
        "order": 3,
        "width": "7",
        "height": "1",
        "name": "",
        "label": "IP",
        "format": "{{msg.payload.Wifi.IP}}",
        "layout": "row-left",
        "className": "",
        "x": 3490,
        "y": 1160,
        "wires": []
    },
    {
        "id": "61272f359edfa0ed",
        "type": "ui_text",
        "z": "de075408ef8a8106",
        "g": "9cc65e5076215eb6",
        "group": "43f8774a7d6f73e8",
        "order": 4,
        "width": "7",
        "height": "1",
        "name": "",
        "label": "RSSI",
        "format": "{{msg.payload.Wifi.RSSI}}",
        "layout": "row-left",
        "className": "",
        "x": 3490,
        "y": 1200,
        "wires": []
    },
    {
        "id": "41abc12fd5db62b1",
        "type": "ui_chart",
        "z": "de075408ef8a8106",
        "g": "9cc65e5076215eb6",
        "name": "",
        "group": "ba999e6d4e51b0a9",
        "order": 6,
        "width": "8",
        "height": "5",
        "label": "LECTURA",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "1024",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 3510,
        "y": 1240,
        "wires": [
            []
        ]
    },
    {
        "id": "18d72367634c6dc6",
        "type": "change",
        "z": "de075408ef8a8106",
        "g": "9cc65e5076215eb6",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.VMA407N.iluminacion",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 3340,
        "y": 1240,
        "wires": [
            [
                "41abc12fd5db62b1"
            ]
        ]
    },
    {
        "id": "11a0858e2baed9f2",
        "type": "ui_text",
        "z": "de075408ef8a8106",
        "g": "ce9127cdcf98a345",
        "group": "9a4ea4864bcd614a",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "I_media",
        "label": "Iluminacion Media en el periodo",
        "format": "{{msg.payload[0].Imedia | number:1}}",
        "layout": "row-spread",
        "className": "",
        "x": 3820,
        "y": 1740,
        "wires": []
    },
    {
        "id": "8a536553b1e37f0e",
        "type": "mqtt in",
        "z": "de075408ef8a8106",
        "g": "10ca8e2aa02a4613",
        "name": "",
        "topic": "II11/ESP0010C48E/conexion",
        "qos": "2",
        "datatype": "auto",
        "broker": "04bc427a36cc5248",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 300,
        "y": 2160,
        "wires": [
            [
                "25e56f3ab90b50bb",
                "6f49e3886cfc9d93"
            ]
        ]
    },
    {
        "id": "25e56f3ab90b50bb",
        "type": "ui_toast",
        "z": "de075408ef8a8106",
        "g": "10ca8e2aa02a4613",
        "position": "bottom left",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "LWT",
        "x": 550,
        "y": 2140,
        "wires": []
    },
    {
        "id": "03f15652e8ecc57a",
        "type": "json",
        "z": "de075408ef8a8106",
        "g": "488b6d0769cb0f3b",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 530,
        "y": 2440,
        "wires": [
            [
                "f7dcc482c575361f"
            ]
        ]
    },
    {
        "id": "bc1458b935f1aea3",
        "type": "mqtt in",
        "z": "de075408ef8a8106",
        "g": "488b6d0769cb0f3b",
        "name": "",
        "topic": "II11/ESP0010C48E/RGB_status",
        "qos": "2",
        "datatype": "auto",
        "broker": "04bc427a36cc5248",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 310,
        "y": 2440,
        "wires": [
            [
                "03f15652e8ecc57a"
            ]
        ]
    },
    {
        "id": "f7dcc482c575361f",
        "type": "function",
        "z": "de075408ef8a8106",
        "g": "488b6d0769cb0f3b",
        "name": "+ fecha",
        "func": "msg.payload.date = new Date();\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 2440,
        "wires": [
            [
                "2d84ad2e25cfadb7",
                "b38443f6a7a68e6e",
                "6e701d8e56bc3af2"
            ]
        ]
    },
    {
        "id": "2d84ad2e25cfadb7",
        "type": "ui_text",
        "z": "de075408ef8a8106",
        "g": "488b6d0769cb0f3b",
        "group": "43f8774a7d6f73e8",
        "order": 13,
        "width": "7",
        "height": "1",
        "name": "",
        "label": "RGB (Deriva)",
        "format": "{{msg.payload.Deriva}}",
        "layout": "row-left",
        "className": "",
        "x": 1020,
        "y": 2400,
        "wires": []
    },
    {
        "id": "b38443f6a7a68e6e",
        "type": "ui_text",
        "z": "de075408ef8a8106",
        "g": "488b6d0769cb0f3b",
        "group": "43f8774a7d6f73e8",
        "order": 14,
        "width": "7",
        "height": "1",
        "name": "",
        "label": "RGB",
        "format": "{{msg.payload.RGB_Colores}}",
        "layout": "row-left",
        "className": "",
        "x": 990,
        "y": 2440,
        "wires": []
    },
    {
        "id": "6e701d8e56bc3af2",
        "type": "ui_text",
        "z": "de075408ef8a8106",
        "g": "488b6d0769cb0f3b",
        "group": "43f8774a7d6f73e8",
        "order": 15,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Ult. Modificacion RGB",
        "format": "{{msg.payload.date}}",
        "layout": "row-spread",
        "className": "",
        "x": 1040,
        "y": 2480,
        "wires": []
    },
    {
        "id": "12baa00889707f7e",
        "type": "mqtt in",
        "z": "de075408ef8a8106",
        "g": "488b6d0769cb0f3b",
        "name": "",
        "topic": "II11/ESP0010C48E/switch_status",
        "qos": "2",
        "datatype": "auto",
        "broker": "04bc427a36cc5248",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 310,
        "y": 2560,
        "wires": [
            [
                "56f91042d7c74359"
            ]
        ]
    },
    {
        "id": "56f91042d7c74359",
        "type": "json",
        "z": "de075408ef8a8106",
        "g": "488b6d0769cb0f3b",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 530,
        "y": 2560,
        "wires": [
            [
                "28db7f535f269e40"
            ]
        ]
    },
    {
        "id": "28db7f535f269e40",
        "type": "function",
        "z": "de075408ef8a8106",
        "g": "488b6d0769cb0f3b",
        "name": "+ fecha",
        "func": "msg.payload.date = new Date();\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 2560,
        "wires": [
            [
                "3f15afdf69c117c9",
                "5438823d0d2886bd"
            ]
        ]
    },
    {
        "id": "5438823d0d2886bd",
        "type": "ui_text",
        "z": "de075408ef8a8106",
        "g": "488b6d0769cb0f3b",
        "group": "43f8774a7d6f73e8",
        "order": 12,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Ult. Modificacion Switch",
        "format": "{{msg.payload.date}}",
        "layout": "row-spread",
        "className": "",
        "x": 1170,
        "y": 2640,
        "wires": []
    },
    {
        "id": "1d1191e3b2871522",
        "type": "ui_template",
        "z": "de075408ef8a8106",
        "g": "3c64428d5ae85b5e",
        "group": "9a4ea4864bcd614a",
        "name": "boton CSV",
        "order": 6,
        "width": 0,
        "height": 0,
        "format": "<style>\n.button {\n    text-align: center;\n    font: bold 17px Arial;\n    text-decoration: none;\n    background-color: #339966;\n    color: white;\n    padding: 8px 10px;\n    border: 2px solid #CCCCCC;\n    }\n    \n    .button:hover\n    {\n        background-color: #26734d;\n    }\n\n</style>\n<a href=\"/registros\" class=\"button\">Descarga registros en CSV (Excel)</a>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 2690,
        "y": 2080,
        "wires": [
            []
        ]
    },
    {
        "id": "69da7ce2c1ce88ba",
        "type": "http in",
        "z": "de075408ef8a8106",
        "g": "3c64428d5ae85b5e",
        "name": "",
        "url": "/registros",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 2690,
        "y": 2120,
        "wires": [
            [
                "bf06956e1baef9d2"
            ]
        ]
    },
    {
        "id": "bf06956e1baef9d2",
        "type": "function",
        "z": "de075408ef8a8106",
        "g": "3c64428d5ae85b5e",
        "name": "consulta",
        "func": "var ahora = new Date();\nvar desde = new Date(flow.get(\"desde\") || ahora);\nvar hasta = new Date(flow.get(\"hasta\") || ahora);\n\nvar inicio = new Date(desde.getFullYear(),desde.getMonth(), desde.getDate(),1,0,0,0);\nvar final = new Date(hasta.getFullYear(),hasta.getMonth(), hasta.getDate(),23,59,59,99);\n\nmsg.inicio = inicio;\nmsg.final = final;\n\nmsg.payload = \n[\n    {\"$match\": {\"payload.date\": {\"$gte\":inicio, \"$lte\":final} } },\n    {\"$project\": {\n        \"_id\": 0,\n        \"date\": \"$payload.date\",\n        \"sensor\": \"$payload.VMA407N.iluminacion\"\n        },\n    },\n    {\"$sort\": {\"date\":-1}}\n];\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2870,
        "y": 2120,
        "wires": [
            [
                "5ea762b0bed270bf"
            ]
        ]
    },
    {
        "id": "5ea762b0bed270bf",
        "type": "mongodb in",
        "z": "de075408ef8a8106",
        "g": "3c64428d5ae85b5e",
        "mongodb": "113b3e6854d3cfbe",
        "name": "",
        "collection": "datosVMA407N",
        "operation": "aggregate",
        "x": 3140,
        "y": 2120,
        "wires": [
            [
                "743143c4e17ccc23"
            ]
        ]
    },
    {
        "id": "743143c4e17ccc23",
        "type": "csv",
        "z": "de075408ef8a8106",
        "g": "3c64428d5ae85b5e",
        "name": "",
        "sep": ";",
        "hdrin": "",
        "hdrout": "all",
        "multi": "one",
        "ret": "\\r\\n",
        "temp": "date, sensor",
        "skip": "0",
        "strings": true,
        "include_empty_strings": "",
        "include_null_values": "",
        "x": 3370,
        "y": 2120,
        "wires": [
            [
                "bd5a2b8453534ff3"
            ]
        ]
    },
    {
        "id": "3cb4a3ceb1a93cec",
        "type": "http response",
        "z": "de075408ef8a8106",
        "g": "3c64428d5ae85b5e",
        "name": "",
        "statusCode": "",
        "headers": {
            "Content-Disposition": "attachment; filename=registros.csv"
        },
        "x": 3750,
        "y": 2120,
        "wires": []
    },
    {
        "id": "bd5a2b8453534ff3",
        "type": "function",
        "z": "de075408ef8a8106",
        "g": "3c64428d5ae85b5e",
        "name": "Unicode y separador",
        "func": "if (global.get(\"separador_decimal\") == \"punto\")\n{\n    msg.payload = '\\ufeff'+msg.payload;\n}\nelse\n{\n    msg.payload = '\\ufeff'+(msg.payload).replace(/\\./g,\",\");\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3560,
        "y": 2120,
        "wires": [
            [
                "3cb4a3ceb1a93cec"
            ]
        ]
    },
    {
        "id": "4544a7cee001dc67",
        "type": "ui_button",
        "z": "de075408ef8a8106",
        "g": "9cc65e5076215eb6",
        "name": "",
        "group": "ba999e6d4e51b0a9",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Limpiar Grafica",
        "tooltip": "",
        "color": "",
        "bgcolor": "orange",
        "className": "",
        "icon": "",
        "payload": "[]",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 3340,
        "y": 1280,
        "wires": [
            [
                "41abc12fd5db62b1"
            ]
        ]
    },
    {
        "id": "216f99e270171e4c",
        "type": "function",
        "z": "de075408ef8a8106",
        "g": "9cc65e5076215eb6",
        "name": "",
        "func": "msg.payload={};\nmsg.payload.date = new Date();\nmsg.payload.aviso=\"Iluminación Crítica\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3520,
        "y": 920,
        "wires": [
            [
                "c3dfe686adec3aaa",
                "22d7372b567214d0"
            ]
        ]
    },
    {
        "id": "c3dfe686adec3aaa",
        "type": "mongodb out",
        "z": "de075408ef8a8106",
        "g": "9cc65e5076215eb6",
        "mongodb": "113b3e6854d3cfbe",
        "name": "",
        "collection": "avisosVMA407N",
        "payonly": false,
        "upsert": false,
        "multi": false,
        "operation": "store",
        "x": 3790,
        "y": 920,
        "wires": []
    },
    {
        "id": "7b2a7896a76b9b62",
        "type": "function",
        "z": "de075408ef8a8106",
        "g": "dd2a2df5e5591e61",
        "name": "",
        "func": "msg.payload={};\nmsg.payload.date = new Date();\nmsg.payload.aviso=\"Umbrales mal definidos\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1340,
        "y": 1580,
        "wires": [
            [
                "a8ecb52231531980",
                "a2d6efbc4faa35f6"
            ]
        ]
    },
    {
        "id": "a8ecb52231531980",
        "type": "mongodb out",
        "z": "de075408ef8a8106",
        "g": "dd2a2df5e5591e61",
        "mongodb": "113b3e6854d3cfbe",
        "name": "",
        "collection": "avisosVMA407N",
        "payonly": false,
        "upsert": false,
        "multi": false,
        "operation": "store",
        "x": 1630,
        "y": 1580,
        "wires": []
    },
    {
        "id": "6f49e3886cfc9d93",
        "type": "function",
        "z": "de075408ef8a8106",
        "g": "10ca8e2aa02a4613",
        "name": "",
        "func": "msg.payload={};\nmsg.payload.date = new Date();\nmsg.payload.aviso=\"Desconexión\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 2180,
        "wires": [
            [
                "fd8a22bcb8658bb0"
            ]
        ]
    },
    {
        "id": "fd8a22bcb8658bb0",
        "type": "mongodb out",
        "z": "de075408ef8a8106",
        "g": "10ca8e2aa02a4613",
        "mongodb": "113b3e6854d3cfbe",
        "name": "",
        "collection": "avisosVMA407N",
        "payonly": false,
        "upsert": false,
        "multi": false,
        "operation": "store",
        "x": 870,
        "y": 2180,
        "wires": []
    },
    {
        "id": "1630883d31f8faa7",
        "type": "inject",
        "z": "de075408ef8a8106",
        "g": "df483cb5ea10103e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{}",
        "payloadType": "jsonata",
        "x": 2710,
        "y": 2480,
        "wires": [
            [
                "5ed4acd2bea58e11"
            ]
        ]
    },
    {
        "id": "5ed4acd2bea58e11",
        "type": "mongodb in",
        "z": "de075408ef8a8106",
        "g": "df483cb5ea10103e",
        "mongodb": "113b3e6854d3cfbe",
        "name": "",
        "collection": "modos",
        "operation": "find",
        "x": 2940,
        "y": 2480,
        "wires": [
            [
                "e5c3f7fadee1170e"
            ]
        ]
    },
    {
        "id": "c4878ff9a5b39b3b",
        "type": "mongodb out",
        "z": "de075408ef8a8106",
        "g": "df483cb5ea10103e",
        "mongodb": "113b3e6854d3cfbe",
        "name": "",
        "collection": "modos",
        "payonly": false,
        "upsert": false,
        "multi": false,
        "operation": "delete",
        "x": 2940,
        "y": 2520,
        "wires": []
    },
    {
        "id": "e5c3f7fadee1170e",
        "type": "debug",
        "z": "de075408ef8a8106",
        "g": "df483cb5ea10103e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 3190,
        "y": 2480,
        "wires": []
    },
    {
        "id": "1d1dfb4917a37223",
        "type": "inject",
        "z": "de075408ef8a8106",
        "g": "df483cb5ea10103e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{}",
        "payloadType": "jsonata",
        "x": 2710,
        "y": 2560,
        "wires": [
            [
                "67a1a78b6d01e7bc"
            ]
        ]
    },
    {
        "id": "67a1a78b6d01e7bc",
        "type": "mongodb in",
        "z": "de075408ef8a8106",
        "g": "df483cb5ea10103e",
        "mongodb": "113b3e6854d3cfbe",
        "name": "",
        "collection": "RGB",
        "operation": "find",
        "x": 2920,
        "y": 2560,
        "wires": [
            [
                "01c90d371ec56b49"
            ]
        ]
    },
    {
        "id": "6e4aca9b7d8df604",
        "type": "mongodb out",
        "z": "de075408ef8a8106",
        "g": "df483cb5ea10103e",
        "mongodb": "113b3e6854d3cfbe",
        "name": "",
        "collection": "RGB",
        "payonly": false,
        "upsert": false,
        "multi": false,
        "operation": "delete",
        "x": 2930,
        "y": 2600,
        "wires": []
    },
    {
        "id": "01c90d371ec56b49",
        "type": "debug",
        "z": "de075408ef8a8106",
        "g": "df483cb5ea10103e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 3190,
        "y": 2560,
        "wires": []
    },
    {
        "id": "2d648814aa258f98",
        "type": "inject",
        "z": "de075408ef8a8106",
        "g": "df483cb5ea10103e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{}",
        "payloadType": "jsonata",
        "x": 2710,
        "y": 2640,
        "wires": [
            [
                "25a4f95b173bbe13"
            ]
        ]
    },
    {
        "id": "25a4f95b173bbe13",
        "type": "mongodb in",
        "z": "de075408ef8a8106",
        "g": "df483cb5ea10103e",
        "mongodb": "113b3e6854d3cfbe",
        "name": "",
        "collection": "switch",
        "operation": "find",
        "x": 2920,
        "y": 2640,
        "wires": [
            [
                "ed347a8aaffe2e97"
            ]
        ]
    },
    {
        "id": "8881705b73ed77e7",
        "type": "mongodb out",
        "z": "de075408ef8a8106",
        "g": "df483cb5ea10103e",
        "mongodb": "113b3e6854d3cfbe",
        "name": "",
        "collection": "switch",
        "payonly": false,
        "upsert": false,
        "multi": false,
        "operation": "delete",
        "x": 2930,
        "y": 2680,
        "wires": []
    },
    {
        "id": "ed347a8aaffe2e97",
        "type": "debug",
        "z": "de075408ef8a8106",
        "g": "df483cb5ea10103e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 3190,
        "y": 2640,
        "wires": []
    },
    {
        "id": "901ed0fbb276e5e6",
        "type": "inject",
        "z": "de075408ef8a8106",
        "g": "df483cb5ea10103e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{}",
        "payloadType": "jsonata",
        "x": 2710,
        "y": 2720,
        "wires": [
            [
                "c7b91996d69696ad"
            ]
        ]
    },
    {
        "id": "c7b91996d69696ad",
        "type": "mongodb in",
        "z": "de075408ef8a8106",
        "g": "df483cb5ea10103e",
        "mongodb": "113b3e6854d3cfbe",
        "name": "",
        "collection": "datosVMA407N",
        "operation": "find",
        "x": 2950,
        "y": 2720,
        "wires": [
            [
                "bfe0e6db84cf798e"
            ]
        ]
    },
    {
        "id": "7b4145e04d2dacf5",
        "type": "mongodb out",
        "z": "de075408ef8a8106",
        "g": "df483cb5ea10103e",
        "mongodb": "113b3e6854d3cfbe",
        "name": "",
        "collection": "datosVMA407N",
        "payonly": false,
        "upsert": false,
        "multi": false,
        "operation": "delete",
        "x": 2960,
        "y": 2760,
        "wires": []
    },
    {
        "id": "bfe0e6db84cf798e",
        "type": "debug",
        "z": "de075408ef8a8106",
        "g": "df483cb5ea10103e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 3190,
        "y": 2720,
        "wires": []
    },
    {
        "id": "9855154d253d4f92",
        "type": "inject",
        "z": "de075408ef8a8106",
        "g": "df483cb5ea10103e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{}",
        "payloadType": "jsonata",
        "x": 2710,
        "y": 2680,
        "wires": [
            [
                "8881705b73ed77e7"
            ]
        ]
    },
    {
        "id": "6d347f04eba883e8",
        "type": "inject",
        "z": "de075408ef8a8106",
        "g": "df483cb5ea10103e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{}",
        "payloadType": "jsonata",
        "x": 2710,
        "y": 2600,
        "wires": [
            [
                "6e4aca9b7d8df604"
            ]
        ]
    },
    {
        "id": "8d3433a6d2bbfe70",
        "type": "inject",
        "z": "de075408ef8a8106",
        "g": "df483cb5ea10103e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{}",
        "payloadType": "jsonata",
        "x": 2710,
        "y": 2520,
        "wires": [
            [
                "c4878ff9a5b39b3b"
            ]
        ]
    },
    {
        "id": "9dee38f7e8bfd9b5",
        "type": "inject",
        "z": "de075408ef8a8106",
        "g": "df483cb5ea10103e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{}",
        "payloadType": "jsonata",
        "x": 2710,
        "y": 2760,
        "wires": [
            [
                "7b4145e04d2dacf5"
            ]
        ]
    },
    {
        "id": "f796a6c90f6fd719",
        "type": "inject",
        "z": "de075408ef8a8106",
        "g": "df483cb5ea10103e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{}",
        "payloadType": "jsonata",
        "x": 2710,
        "y": 2800,
        "wires": [
            [
                "1dd296e85d3ac2ff"
            ]
        ]
    },
    {
        "id": "1dd296e85d3ac2ff",
        "type": "mongodb in",
        "z": "de075408ef8a8106",
        "g": "df483cb5ea10103e",
        "mongodb": "113b3e6854d3cfbe",
        "name": "",
        "collection": "avisosVMA407N",
        "operation": "find",
        "x": 2970,
        "y": 2800,
        "wires": [
            [
                "4e104f1c879412d2"
            ]
        ]
    },
    {
        "id": "d7d861753929d300",
        "type": "mongodb out",
        "z": "de075408ef8a8106",
        "g": "df483cb5ea10103e",
        "mongodb": "113b3e6854d3cfbe",
        "name": "",
        "collection": "avisosVMA407N",
        "payonly": false,
        "upsert": false,
        "multi": false,
        "operation": "delete",
        "x": 2970,
        "y": 2840,
        "wires": []
    },
    {
        "id": "4e104f1c879412d2",
        "type": "debug",
        "z": "de075408ef8a8106",
        "g": "df483cb5ea10103e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 3230,
        "y": 2800,
        "wires": []
    },
    {
        "id": "2415506cdb816a18",
        "type": "inject",
        "z": "de075408ef8a8106",
        "g": "df483cb5ea10103e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{}",
        "payloadType": "jsonata",
        "x": 2710,
        "y": 2840,
        "wires": [
            [
                "d7d861753929d300"
            ]
        ]
    },
    {
        "id": "6d906b7caf2f0ea4",
        "type": "mqtt in",
        "z": "de075408ef8a8106",
        "g": "e0b5f2d450afd5b6",
        "name": "",
        "topic": "II11/ESP0010C48E/modo_status",
        "qos": "2",
        "datatype": "auto",
        "broker": "04bc427a36cc5248",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 330,
        "y": 980,
        "wires": [
            [
                "87ec9d1cb4ec13b0"
            ]
        ]
    },
    {
        "id": "87ec9d1cb4ec13b0",
        "type": "json",
        "z": "de075408ef8a8106",
        "g": "e0b5f2d450afd5b6",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 550,
        "y": 980,
        "wires": [
            [
                "7237ab4201d90c96",
                "6ccafe532933264e",
                "b278ac662c163972"
            ]
        ]
    },
    {
        "id": "7237ab4201d90c96",
        "type": "change",
        "z": "de075408ef8a8106",
        "g": "e0b5f2d450afd5b6",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.auto",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 780,
        "y": 900,
        "wires": [
            [
                "3d415003e52784ee"
            ]
        ]
    },
    {
        "id": "b278ac662c163972",
        "type": "change",
        "z": "de075408ef8a8106",
        "g": "e0b5f2d450afd5b6",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.party",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 780,
        "y": 980,
        "wires": [
            [
                "14b0e1558105d8ad"
            ]
        ]
    },
    {
        "id": "6ccafe532933264e",
        "type": "change",
        "z": "de075408ef8a8106",
        "g": "e0b5f2d450afd5b6",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.inverso",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 780,
        "y": 1080,
        "wires": [
            [
                "11777c226ecb7ebc"
            ]
        ]
    },
    {
        "id": "a3a3104277ec5000",
        "type": "ui_colour_picker",
        "z": "de075408ef8a8106",
        "g": "5dae8e19c41a8d58",
        "name": "",
        "label": "",
        "group": "8928846c6452fd0f",
        "format": "rgb",
        "outformat": "object",
        "showSwatch": true,
        "showPicker": true,
        "showValue": true,
        "showHue": false,
        "showAlpha": false,
        "showLightness": true,
        "square": "false",
        "dynOutput": "false",
        "order": 1,
        "width": 6,
        "height": 5,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 710,
        "y": 380,
        "wires": [
            [
                "b4abf9eb77fd5b6b",
                "88068a667d7915d4",
                "82fb65a6ea6ba205"
            ]
        ]
    },
    {
        "id": "421b8b964bb85fcd",
        "type": "ui_slider",
        "z": "de075408ef8a8106",
        "g": "5dae8e19c41a8d58",
        "name": "",
        "label": "R",
        "tooltip": "",
        "group": "8928846c6452fd0f",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "255",
        "step": 1,
        "className": "",
        "x": 1230,
        "y": 300,
        "wires": [
            [
                "48a394be81a1ba23",
                "2e29c362c462ec0d"
            ]
        ]
    },
    {
        "id": "47977cd681be5d47",
        "type": "ui_slider",
        "z": "de075408ef8a8106",
        "g": "5dae8e19c41a8d58",
        "name": "",
        "label": "G",
        "tooltip": "",
        "group": "8928846c6452fd0f",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "255",
        "step": 1,
        "className": "",
        "x": 1230,
        "y": 380,
        "wires": [
            [
                "47688b115a83e709",
                "16cf805d4f7a3968"
            ]
        ]
    },
    {
        "id": "ae2199ae0f14dbec",
        "type": "ui_slider",
        "z": "de075408ef8a8106",
        "g": "5dae8e19c41a8d58",
        "name": "",
        "label": "B",
        "tooltip": "",
        "group": "8928846c6452fd0f",
        "order": 11,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "255",
        "step": 1,
        "className": "",
        "x": 1230,
        "y": 460,
        "wires": [
            [
                "1f5bf63b3252b39a",
                "efc019eb3d78c3ed"
            ]
        ]
    },
    {
        "id": "48a394be81a1ba23",
        "type": "ui_text",
        "z": "de075408ef8a8106",
        "g": "5dae8e19c41a8d58",
        "group": "8928846c6452fd0f",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "R:",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "x": 1310,
        "y": 340,
        "wires": []
    },
    {
        "id": "47688b115a83e709",
        "type": "ui_text",
        "z": "de075408ef8a8106",
        "g": "5dae8e19c41a8d58",
        "group": "8928846c6452fd0f",
        "order": 9,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "G:",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "x": 1310,
        "y": 420,
        "wires": []
    },
    {
        "id": "1f5bf63b3252b39a",
        "type": "ui_text",
        "z": "de075408ef8a8106",
        "g": "5dae8e19c41a8d58",
        "group": "8928846c6452fd0f",
        "order": 14,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "B:",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "x": 1310,
        "y": 500,
        "wires": []
    },
    {
        "id": "b4abf9eb77fd5b6b",
        "type": "change",
        "z": "de075408ef8a8106",
        "g": "5dae8e19c41a8d58",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.r",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 980,
        "y": 300,
        "wires": [
            [
                "421b8b964bb85fcd"
            ]
        ]
    },
    {
        "id": "88068a667d7915d4",
        "type": "change",
        "z": "de075408ef8a8106",
        "g": "5dae8e19c41a8d58",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.g",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 980,
        "y": 380,
        "wires": [
            [
                "47977cd681be5d47"
            ]
        ]
    },
    {
        "id": "82fb65a6ea6ba205",
        "type": "change",
        "z": "de075408ef8a8106",
        "g": "5dae8e19c41a8d58",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.b",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 980,
        "y": 460,
        "wires": [
            [
                "ae2199ae0f14dbec"
            ]
        ]
    },
    {
        "id": "2e29c362c462ec0d",
        "type": "change",
        "z": "de075408ef8a8106",
        "g": "5dae8e19c41a8d58",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "red",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1510,
        "y": 300,
        "wires": [
            [
                "61d5bc2f28434f74"
            ]
        ]
    },
    {
        "id": "16cf805d4f7a3968",
        "type": "change",
        "z": "de075408ef8a8106",
        "g": "5dae8e19c41a8d58",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "green",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1520,
        "y": 380,
        "wires": [
            [
                "61d5bc2f28434f74"
            ]
        ]
    },
    {
        "id": "efc019eb3d78c3ed",
        "type": "change",
        "z": "de075408ef8a8106",
        "g": "5dae8e19c41a8d58",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "blue",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1510,
        "y": 460,
        "wires": [
            [
                "61d5bc2f28434f74"
            ]
        ]
    },
    {
        "id": "f57782a05851a7ca",
        "type": "mqtt out",
        "z": "de075408ef8a8106",
        "g": "5dae8e19c41a8d58",
        "name": "",
        "topic": "II11/ESP0010C48E/RGB_cmd",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "04bc427a36cc5248",
        "x": 2190,
        "y": 380,
        "wires": []
    },
    {
        "id": "61d5bc2f28434f74",
        "type": "function",
        "z": "de075408ef8a8106",
        "g": "5dae8e19c41a8d58",
        "name": "RGB",
        "func": "var colores = flow.get([\"red\",\"green\",\"blue\"]);\n\nmsg.payload = {};\n\nmsg.payload.rojo = colores [0];\nmsg.payload.verde = colores [1];\nmsg.payload.azul = colores [2];\nmsg.payload.deriva = flow.get(\"deriva\");\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1790,
        "y": 380,
        "wires": [
            [
                "f57782a05851a7ca",
                "0362fd14f1322fe7"
            ]
        ]
    },
    {
        "id": "dfda8aa17ba82a81",
        "type": "change",
        "z": "de075408ef8a8106",
        "g": "5dae8e19c41a8d58",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "intensidad",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1530,
        "y": 560,
        "wires": [
            [
                "2aafe4d03be8aca0"
            ]
        ]
    },
    {
        "id": "3f21fd1e443d4214",
        "type": "ui_switch",
        "z": "de075408ef8a8106",
        "g": "5dae8e19c41a8d58",
        "name": "",
        "label": "SWITCH",
        "tooltip": "",
        "group": "8928846c6452fd0f",
        "order": 15,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "0",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "1",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 1280,
        "y": 580,
        "wires": [
            [
                "dfda8aa17ba82a81"
            ]
        ]
    },
    {
        "id": "875054241f8dec9b",
        "type": "function",
        "z": "de075408ef8a8106",
        "g": "5dae8e19c41a8d58",
        "name": "RGBaCP",
        "func": "msg.payload={};\nmsg.payload.r = flow.get(\"red\");\nmsg.payload.g = flow.get(\"green\");\nmsg.payload.b = flow.get(\"blue\");\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 440,
        "wires": [
            [
                "a3a3104277ec5000"
            ]
        ]
    },
    {
        "id": "7b7f430ce62b55f1",
        "type": "link in",
        "z": "de075408ef8a8106",
        "g": "5dae8e19c41a8d58",
        "name": "IN",
        "links": [
            "0362fd14f1322fe7"
        ],
        "x": 355,
        "y": 440,
        "wires": [
            [
                "875054241f8dec9b"
            ]
        ]
    },
    {
        "id": "0362fd14f1322fe7",
        "type": "link out",
        "z": "de075408ef8a8106",
        "g": "5dae8e19c41a8d58",
        "name": "OUT",
        "links": [
            "7b7f430ce62b55f1"
        ],
        "x": 1955,
        "y": 280,
        "wires": []
    },
    {
        "id": "72a569d0ff29569e",
        "type": "inject",
        "z": "de075408ef8a8106",
        "g": "5dae8e19c41a8d58",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0",
        "topic": "",
        "payload": "128",
        "payloadType": "num",
        "x": 690,
        "y": 240,
        "wires": [
            [
                "421b8b964bb85fcd",
                "47977cd681be5d47",
                "ae2199ae0f14dbec"
            ]
        ]
    },
    {
        "id": "2aafe4d03be8aca0",
        "type": "function",
        "z": "de075408ef8a8106",
        "g": "5dae8e19c41a8d58",
        "name": "SWITCH",
        "func": "msg.payload = {};\nmsg.payload.switch = flow.get(\"intensidad\");\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1770,
        "y": 540,
        "wires": [
            [
                "f9953254dc333bab"
            ]
        ]
    },
    {
        "id": "f9953254dc333bab",
        "type": "mqtt out",
        "z": "de075408ef8a8106",
        "g": "5dae8e19c41a8d58",
        "name": "",
        "topic": "II11/ESP0010C48E/switch_cmd",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "04bc427a36cc5248",
        "x": 2090,
        "y": 540,
        "wires": []
    },
    {
        "id": "6c11ed28dc8a84e5",
        "type": "ui_slider",
        "z": "de075408ef8a8106",
        "g": "5dae8e19c41a8d58",
        "name": "",
        "label": "DERIVA(%)",
        "tooltip": "",
        "group": "7d816a01a4a4b0c4",
        "order": 15,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "10",
        "step": 1,
        "className": "",
        "x": 1310,
        "y": 220,
        "wires": [
            [
                "9d55c9942fb80150"
            ]
        ]
    },
    {
        "id": "9d55c9942fb80150",
        "type": "change",
        "z": "de075408ef8a8106",
        "g": "5dae8e19c41a8d58",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "deriva",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1520,
        "y": 220,
        "wires": [
            [
                "61d5bc2f28434f74"
            ]
        ]
    },
    {
        "id": "45d1479ea6b4421c",
        "type": "mqtt in",
        "z": "de075408ef8a8106",
        "g": "5dae8e19c41a8d58",
        "name": "",
        "topic": "II11/ESP0010C48E/switch_status",
        "qos": "2",
        "datatype": "auto",
        "broker": "04bc427a36cc5248",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 430,
        "y": 580,
        "wires": [
            [
                "6425b5c0e6e63259"
            ]
        ]
    },
    {
        "id": "6425b5c0e6e63259",
        "type": "json",
        "z": "de075408ef8a8106",
        "g": "5dae8e19c41a8d58",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 670,
        "y": 580,
        "wires": [
            [
                "d5e4cd8a5a42b191"
            ]
        ]
    },
    {
        "id": "3f15afdf69c117c9",
        "type": "switch",
        "z": "de075408ef8a8106",
        "g": "488b6d0769cb0f3b",
        "name": "",
        "property": "payload.status_sw",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 910,
        "y": 2560,
        "wires": [
            [
                "0c2e8efa4d90ad0e"
            ],
            [
                "2206fd2b1d2c74c5"
            ]
        ]
    },
    {
        "id": "0c2e8efa4d90ad0e",
        "type": "change",
        "z": "de075408ef8a8106",
        "g": "488b6d0769cb0f3b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload.status_sw",
                "pt": "msg",
                "to": "1",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1140,
        "y": 2540,
        "wires": [
            [
                "ff28b3b8fb54ef20"
            ]
        ]
    },
    {
        "id": "2206fd2b1d2c74c5",
        "type": "change",
        "z": "de075408ef8a8106",
        "g": "488b6d0769cb0f3b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload.status_sw",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1140,
        "y": 2580,
        "wires": [
            [
                "ff28b3b8fb54ef20"
            ]
        ]
    },
    {
        "id": "d5e4cd8a5a42b191",
        "type": "change",
        "z": "de075408ef8a8106",
        "g": "5dae8e19c41a8d58",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.status_sw",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1080,
        "y": 580,
        "wires": [
            [
                "3f21fd1e443d4214"
            ]
        ]
    },
    {
        "id": "c131d0e67f9309b5",
        "type": "telegram command",
        "z": "de075408ef8a8106",
        "g": "97771dc947157f6d",
        "name": "",
        "command": "/help_luz",
        "description": "",
        "registercommand": false,
        "language": "",
        "scope": "default",
        "bot": "d22748c464667302",
        "strict": false,
        "hasresponse": false,
        "useregex": false,
        "removeregexcommand": false,
        "outputs": 1,
        "x": 2880,
        "y": 160,
        "wires": [
            [
                "213abab8c59ef01c"
            ]
        ]
    },
    {
        "id": "73bccc0ffecdb98d",
        "type": "telegram sender",
        "z": "de075408ef8a8106",
        "g": "97771dc947157f6d",
        "name": "respuestas",
        "bot": "d22748c464667302",
        "haserroroutput": false,
        "outputs": 1,
        "x": 3390,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "213abab8c59ef01c",
        "type": "function",
        "z": "de075408ef8a8106",
        "g": "97771dc947157f6d",
        "name": "create help text",
        "func": "var helpMessage = \"\\r\\n/RGB 'R,G,B' para indicar cada valor del color (NO OLVIDAR LAS COMAS)\";\nhelpMessage += \"\\r\\n\";\nhelpMessage += \"\\r\\n/switch 'ON/OFF' para apagar o encender el led\";\nhelpMessage += \"\\r\\n\";\nhelpMessage += \"\\r\\n/consulta_luz para acceder a la ayuda en cuanto a la consulta de base de datos\";\n\nmsg.payload.content = helpMessage;\nflow.set(\"connection\", msg.payload.chatId);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3120,
        "y": 160,
        "wires": [
            [
                "73bccc0ffecdb98d"
            ]
        ]
    },
    {
        "id": "eee208bf9d796f8d",
        "type": "telegram command",
        "z": "de075408ef8a8106",
        "g": "97771dc947157f6d",
        "name": "",
        "command": "/consulta_luz",
        "description": "",
        "registercommand": false,
        "language": "",
        "scope": "default",
        "bot": "d22748c464667302",
        "strict": false,
        "hasresponse": false,
        "useregex": false,
        "removeregexcommand": false,
        "outputs": 1,
        "x": 2890,
        "y": 220,
        "wires": [
            [
                "3065657547a2fd10"
            ]
        ]
    },
    {
        "id": "3065657547a2fd10",
        "type": "function",
        "z": "de075408ef8a8106",
        "g": "97771dc947157f6d",
        "name": "create consulta text",
        "func": "var helpMessage = \"\\r\\n/estado_switch , /estado_RGB o /estado_sensor Para consultar el último estado registrado del switch, led RGB o iluminación\";\nhelpMessage += \"\\r\\n\";\nhelpMessage += \"\\r\\n/consulta_RGB X Para consultar los X últimos colores registrados\";\nhelpMessage += \"\\r\\n\";\nhelpMessage += \"\\r\\n/consulta_sensor X Para consultar los X últimos estados registrados de iluminación\";\nhelpMessage += \"\\r\\n\";\nhelpMessage += \"\\r\\n/consulta_switch X Para consultar los X últimos estados registrados del interruptor\";\nhelpMessage += \"\\r\\n\";\nhelpMessage += \"\\r\\n/consulta_avisos X Para consultar lss X últimas notificaciones\";\nhelpMessage += \"\\r\\n\";\n\nmsg.payload.content = helpMessage;\nflow.set(\"connection\", msg.payload.chatId);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3110,
        "y": 220,
        "wires": [
            [
                "73bccc0ffecdb98d"
            ]
        ]
    },
    {
        "id": "a1696c27b09f9ebe",
        "type": "telegram command",
        "z": "de075408ef8a8106",
        "g": "97771dc947157f6d",
        "name": "",
        "command": "/estado_switch",
        "description": "",
        "registercommand": false,
        "language": "",
        "scope": "default",
        "bot": "d22748c464667302",
        "strict": false,
        "hasresponse": false,
        "useregex": false,
        "removeregexcommand": false,
        "outputs": 1,
        "x": 2820,
        "y": 320,
        "wires": [
            [
                "e93a16ed65802690"
            ]
        ]
    },
    {
        "id": "b59326e3da5daee1",
        "type": "telegram command",
        "z": "de075408ef8a8106",
        "g": "97771dc947157f6d",
        "name": "",
        "command": "/estado_sensor",
        "description": "",
        "registercommand": false,
        "language": "",
        "scope": "default",
        "bot": "d22748c464667302",
        "strict": false,
        "hasresponse": false,
        "useregex": false,
        "removeregexcommand": false,
        "outputs": 1,
        "x": 2820,
        "y": 400,
        "wires": [
            [
                "828bb1aac2d3b77d"
            ]
        ]
    },
    {
        "id": "d58c4916da94297c",
        "type": "telegram command",
        "z": "de075408ef8a8106",
        "g": "97771dc947157f6d",
        "name": "",
        "command": "/estado_RGB",
        "description": "",
        "registercommand": false,
        "language": "",
        "scope": "default",
        "bot": "d22748c464667302",
        "strict": false,
        "hasresponse": false,
        "useregex": false,
        "removeregexcommand": false,
        "outputs": 1,
        "x": 2810,
        "y": 360,
        "wires": [
            [
                "f297527a466648b0"
            ]
        ]
    },
    {
        "id": "63a008de3c8afdbb",
        "type": "mongodb in",
        "z": "de075408ef8a8106",
        "g": "97771dc947157f6d",
        "mongodb": "113b3e6854d3cfbe",
        "name": "",
        "collection": "switch",
        "operation": "find",
        "x": 3290,
        "y": 320,
        "wires": [
            [
                "7a695927fe3ea95b"
            ]
        ]
    },
    {
        "id": "e93a16ed65802690",
        "type": "function",
        "z": "de075408ef8a8106",
        "g": "97771dc947157f6d",
        "name": "filtro consulta",
        "func": "msg.limit = 1;\nmsg.sort = {\"payload.date\":-1};\nmsg.chatId = msg.payload.chatId;\n\nmsg.payload = {};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3030,
        "y": 320,
        "wires": [
            [
                "63a008de3c8afdbb"
            ]
        ]
    },
    {
        "id": "c630aea4967677d5",
        "type": "telegram sender",
        "z": "de075408ef8a8106",
        "g": "97771dc947157f6d",
        "name": "",
        "bot": "d22748c464667302",
        "haserroroutput": false,
        "outputs": 1,
        "x": 3810,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "7a695927fe3ea95b",
        "type": "function",
        "z": "de075408ef8a8106",
        "g": "97771dc947157f6d",
        "name": "Mensaje",
        "func": "var sw = msg.payload[0].payload.status_sw;\nvar nivel;\nif(sw==1){\n    nivel=\"OFF\";\n }\nelse{\n    nivel=\"ON\";\n}\nvar date = msg.payload[0].payload.date;\n\nmsg.payload.content = \"El estado del interruptor es \" + nivel + \"\\n\";\nmsg.payload.content += \"Última actualización: \" + date.toLocaleString('es-ES', {timeZone: 'Europe/Madrid', hour12: false});\n\nmsg.payload.chatId = msg.chatId;\nmsg.payload.type = \"message\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3540,
        "y": 320,
        "wires": [
            [
                "c630aea4967677d5"
            ]
        ]
    },
    {
        "id": "828bb1aac2d3b77d",
        "type": "function",
        "z": "de075408ef8a8106",
        "g": "97771dc947157f6d",
        "name": "filtro consulta",
        "func": "msg.limit = 1;\nmsg.sort = {\"payload.date\":-1};\nmsg.chatId = msg.payload.chatId;\n\nmsg.payload = {};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3030,
        "y": 400,
        "wires": [
            [
                "f9c2a40a4d083c68"
            ]
        ]
    },
    {
        "id": "f297527a466648b0",
        "type": "function",
        "z": "de075408ef8a8106",
        "g": "97771dc947157f6d",
        "name": "filtro consulta",
        "func": "msg.limit = 1;\nmsg.sort = {\"payload.date\":-1};\nmsg.chatId = msg.payload.chatId;\n\nmsg.payload = {};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3030,
        "y": 360,
        "wires": [
            [
                "9d6cdaa748474b6b"
            ]
        ]
    },
    {
        "id": "f9c2a40a4d083c68",
        "type": "mongodb in",
        "z": "de075408ef8a8106",
        "g": "97771dc947157f6d",
        "mongodb": "113b3e6854d3cfbe",
        "name": "",
        "collection": "datosVMA407N",
        "operation": "find",
        "x": 3320,
        "y": 400,
        "wires": [
            [
                "b725cb37838b0a4c"
            ]
        ]
    },
    {
        "id": "9d6cdaa748474b6b",
        "type": "mongodb in",
        "z": "de075408ef8a8106",
        "g": "97771dc947157f6d",
        "mongodb": "113b3e6854d3cfbe",
        "name": "",
        "collection": "RGB",
        "operation": "find",
        "x": 3290,
        "y": 360,
        "wires": [
            [
                "e08889876cfa5d2c"
            ]
        ]
    },
    {
        "id": "b725cb37838b0a4c",
        "type": "function",
        "z": "de075408ef8a8106",
        "g": "97771dc947157f6d",
        "name": "Mensaje",
        "func": "var sensor = msg.payload[0].payload.VMA407N.iluminacion;\nvar date = msg.payload[0].payload.date;\n\nmsg.payload.content = \"La iluminación es \" + sensor + \"\\n\";\nmsg.payload.content += \"Última actualización: \" + date.toLocaleString('es-ES', {timeZone: 'Europe/Madrid', hour12: false});\n\nmsg.payload.chatId = msg.chatId;\nmsg.payload.type = \"message\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3540,
        "y": 400,
        "wires": [
            [
                "c630aea4967677d5"
            ]
        ]
    },
    {
        "id": "e08889876cfa5d2c",
        "type": "function",
        "z": "de075408ef8a8106",
        "g": "97771dc947157f6d",
        "name": "Mensaje",
        "func": "var rojo = msg.payload[0].payload.RGB_Colores.Red;\nvar verde = msg.payload[0].payload.RGB_Colores.Green;\nvar azul = msg.payload[0].payload.RGB_Colores.Blue;\nvar date = msg.payload[0].payload.date;\n\nmsg.payload.content = \"El nivel de rojo es \" + rojo + \"\\n\";\nmsg.payload.content += \"El nivel de verde es \" + verde + \"\\n\";\nmsg.payload.content += \"El nivel de azul es \" + azul + \"\\n\";\nmsg.payload.content += \"Última actualización: \" + date.toLocaleString('es-ES', {timeZone: 'Europe/Madrid', hour12: false});\n\nmsg.payload.chatId = msg.chatId;\nmsg.payload.type = \"message\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3540,
        "y": 360,
        "wires": [
            [
                "c630aea4967677d5"
            ]
        ]
    },
    {
        "id": "3614fe98ae3f548a",
        "type": "telegram command",
        "z": "de075408ef8a8106",
        "g": "97771dc947157f6d",
        "name": "",
        "command": "/consulta_switch",
        "description": "",
        "registercommand": false,
        "language": "",
        "scope": "default",
        "bot": "d22748c464667302",
        "strict": false,
        "hasresponse": false,
        "useregex": false,
        "removeregexcommand": false,
        "outputs": 1,
        "x": 2700,
        "y": 480,
        "wires": [
            [
                "9563a2c73f617680"
            ]
        ]
    },
    {
        "id": "51d1f6268fc7ab6f",
        "type": "telegram command",
        "z": "de075408ef8a8106",
        "g": "97771dc947157f6d",
        "name": "",
        "command": "/consulta_RGB",
        "description": "",
        "registercommand": false,
        "language": "",
        "scope": "default",
        "bot": "d22748c464667302",
        "strict": false,
        "hasresponse": false,
        "useregex": false,
        "removeregexcommand": false,
        "outputs": 1,
        "x": 2700,
        "y": 520,
        "wires": [
            [
                "697c7806511e9b4e"
            ]
        ]
    },
    {
        "id": "1168982e773c3398",
        "type": "telegram command",
        "z": "de075408ef8a8106",
        "g": "97771dc947157f6d",
        "name": "",
        "command": "/consulta_sensor",
        "description": "",
        "registercommand": false,
        "language": "",
        "scope": "default",
        "bot": "d22748c464667302",
        "strict": false,
        "hasresponse": false,
        "useregex": false,
        "removeregexcommand": false,
        "outputs": 1,
        "x": 2680,
        "y": 560,
        "wires": [
            [
                "7f6989cd9593f3f6"
            ]
        ]
    },
    {
        "id": "5d084fc11c5a81f4",
        "type": "telegram command",
        "z": "de075408ef8a8106",
        "g": "97771dc947157f6d",
        "name": "",
        "command": "/consulta_avisos",
        "description": "",
        "registercommand": false,
        "language": "",
        "scope": "default",
        "bot": "d22748c464667302",
        "strict": false,
        "hasresponse": false,
        "useregex": false,
        "removeregexcommand": false,
        "outputs": 1,
        "x": 2680,
        "y": 600,
        "wires": [
            [
                "7fdc0e316111cab6"
            ]
        ]
    },
    {
        "id": "ca496306b84974e0",
        "type": "function",
        "z": "de075408ef8a8106",
        "g": "97771dc947157f6d",
        "name": "",
        "func": "var arrayilu = msg.payload.content.split(\" \",2);\nmsg.payload = {};\n\nvar i = Number(arrayilu[1]);\nflow.set(\"numero_entradas\",i);\n\nif(flow.get(\"consulta\")==\"RGB\"){\n    i=3*i;\n    //OJO QUE SI NO ACTUALIZAMOS MSG.LIMIT PARA BUSCAR \n    //EN MONGO SALE EL SIGUIENTE ERROR\"TypeError: Cannot read property 'payload' of undefined\"\n\n}\n\nvar limite = i;\nmsg.limit = limite;\nmsg.sort = {\"payload.date\": -1};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3100,
        "y": 540,
        "wires": [
            [
                "365d242004b9b2de"
            ]
        ]
    },
    {
        "id": "9563a2c73f617680",
        "type": "change",
        "z": "de075408ef8a8106",
        "g": "97771dc947157f6d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "collection",
                "pt": "msg",
                "to": "switch",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "consulta",
                "pt": "flow",
                "to": "switch",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "connection",
                "pt": "flow",
                "to": "payload.chatId",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2900,
        "y": 480,
        "wires": [
            [
                "ca496306b84974e0"
            ]
        ]
    },
    {
        "id": "697c7806511e9b4e",
        "type": "change",
        "z": "de075408ef8a8106",
        "g": "97771dc947157f6d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "collection",
                "pt": "msg",
                "to": "RGB",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "consulta",
                "pt": "flow",
                "to": "RGB",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "connection",
                "pt": "flow",
                "to": "payload.chatId",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2900,
        "y": 520,
        "wires": [
            [
                "ca496306b84974e0"
            ]
        ]
    },
    {
        "id": "7f6989cd9593f3f6",
        "type": "change",
        "z": "de075408ef8a8106",
        "g": "97771dc947157f6d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "collection",
                "pt": "msg",
                "to": "datosVMA407N",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "consulta",
                "pt": "flow",
                "to": "sensor",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "connection",
                "pt": "flow",
                "to": "payload.chatId",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2900,
        "y": 560,
        "wires": [
            [
                "ca496306b84974e0"
            ]
        ]
    },
    {
        "id": "7fdc0e316111cab6",
        "type": "change",
        "z": "de075408ef8a8106",
        "g": "97771dc947157f6d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "collection",
                "pt": "msg",
                "to": "avisos",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "consulta",
                "pt": "flow",
                "to": "avisos",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "connection",
                "pt": "flow",
                "to": "payload.chatId",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2900,
        "y": 600,
        "wires": [
            [
                "ca496306b84974e0"
            ]
        ]
    },
    {
        "id": "365d242004b9b2de",
        "type": "mongodb in",
        "z": "de075408ef8a8106",
        "g": "97771dc947157f6d",
        "mongodb": "113b3e6854d3cfbe",
        "name": "",
        "collection": "",
        "operation": "find",
        "x": 3330,
        "y": 540,
        "wires": [
            [
                "ceea169017f8e10c"
            ]
        ]
    },
    {
        "id": "d6884d3d9e784787",
        "type": "telegram sender",
        "z": "de075408ef8a8106",
        "g": "97771dc947157f6d",
        "name": "",
        "bot": "d22748c464667302",
        "haserroroutput": false,
        "outputs": 1,
        "x": 3850,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "ceea169017f8e10c",
        "type": "function",
        "z": "de075408ef8a8106",
        "g": "97771dc947157f6d",
        "name": "",
        "func": "var i = flow.get(\"numero_entradas\");\nvar int \nvar criterio = flow.get(\"consulta\");\nvar message = \"Las últimas \" + i + \" entradas de\";\n\nif(criterio == \"switch\"){\n    message += \"l estado del switch son: \";\n    for (cont=0; cont < i; cont++){\n        message += \"\\r\\nswitch: \" + msg.payload[cont].payload.status_sw + \". \";\n        message += \" \" + msg.payload[cont].payload.date.toLocaleString('es-ES', {timeZone: 'Europe/Madrid', hour12: false});\n    }\n}\nelse if(criterio == \"RGB\"){\n    message += \"l estado del RGB son:\";\n    for (cont=0; cont < 3*i; cont=cont+3){      //Tenemos que avanzar de 3 en 3 ya que al mandar un color se envian 3 mensajes y se guarda 3 veces en mongo\n        message += \"\\r\\n\\nRojo: \" + msg.payload[cont].payload.RGB_Colores.Red;\n        message += \"\\r\\nVerde: \" + msg.payload[cont].payload.RGB_Colores.Green;\n        message += \"\\r\\nAzul: \" + msg.payload[cont].payload.RGB_Colores.Blue;\n        message += \"\\r\\nFecha: \" + msg.payload[cont].payload.date.toLocaleString('es-ES', {timeZone: 'Europe/Madrid', hour12: false});\n    }\n    \n    \n}\nelse if(criterio == \"sensor\"){\n    message += \"l sensor de iluminacion son: \";\n    for (cont=0; cont < i; cont++){\n        message += \"\\r\\nIluminacion: \" + msg.payload[cont].payload.VMA407N.iluminacion;\n        message += \"     \" + msg.payload[cont].payload.date.toLocaleString('es-ES', {timeZone: 'Europe/Madrid', hour12: false});\n        msg.cont = cont;\n    }\n}\nelse if(criterio == \"avisos\"){\n    message += \"avisos son: \";\n    for (cont=0; cont < i; cont++){\n        message += \"\\r\\nLa temperatura \" + msg.payload[cont].payload.medida + \"ºC era \" + msg.payload[cont].payload.error + \" que \" + msg.payload[cont].payload.limite + \" ºC\";\n        message += \" \" + msg.payload[cont].payload.date.toLocaleString('es-ES', {timeZone: 'Europe/Madrid', hour12: false});\n    }\n}\nmsg.payload.chatId = flow.get(\"connection\");\nmsg.payload.type = \"message\";\nmsg.payload.content = message;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3580,
        "y": 540,
        "wires": [
            [
                "d6884d3d9e784787"
            ]
        ]
    },
    {
        "id": "154cc23569f39e43",
        "type": "telegram command",
        "z": "de075408ef8a8106",
        "g": "5dae8e19c41a8d58",
        "name": "",
        "command": "/switch",
        "description": "",
        "registercommand": false,
        "language": "",
        "scope": "default",
        "bot": "d22748c464667302",
        "strict": false,
        "hasresponse": false,
        "useregex": false,
        "removeregexcommand": false,
        "outputs": 1,
        "x": 270,
        "y": 660,
        "wires": [
            [
                "9ad0a8b0a060f53c"
            ]
        ]
    },
    {
        "id": "9ad0a8b0a060f53c",
        "type": "function",
        "z": "de075408ef8a8106",
        "g": "5dae8e19c41a8d58",
        "name": "get switch from command",
        "func": "var arrayluz = msg.payload.content.split(\" \",2);\nvar chatId = msg.payload.chatId;\n\nmsg.payoad = {};\n\nvar estado = arrayluz[1];\n\nif (estado == \"ON\"){\n    msg.payload.status_sw = 0;\n    msg.payload.content = \"\\r\\nEl estado del switch pasará a ON\";\n}\nelse if(estado == \"OFF\"){\n    msg.payload.status_sw = 1;\n    msg.payload.content = \"\\r\\nEl estado del switch pasará a OFF\";\n}\nelse {\n    msg.payload.content = \"\\r\\nEstado no válido\";\n}\n\nmsg.payload.chatId = chatId;\nmsg.payload.type = \"message\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 660,
        "wires": [
            [
                "3819d8b6687c37d5"
            ]
        ]
    },
    {
        "id": "3819d8b6687c37d5",
        "type": "telegram sender",
        "z": "de075408ef8a8106",
        "g": "5dae8e19c41a8d58",
        "name": "respuestas",
        "bot": "d22748c464667302",
        "haserroroutput": false,
        "outputs": 1,
        "x": 710,
        "y": 660,
        "wires": [
            [
                "21378628b3d5bb90"
            ]
        ]
    },
    {
        "id": "e87e697f90039d02",
        "type": "telegram command",
        "z": "de075408ef8a8106",
        "g": "5dae8e19c41a8d58",
        "name": "",
        "command": "/RGB",
        "description": "",
        "registercommand": false,
        "language": "",
        "scope": "default",
        "bot": "d22748c464667302",
        "strict": false,
        "hasresponse": false,
        "useregex": false,
        "removeregexcommand": false,
        "outputs": 1,
        "x": 250,
        "y": 200,
        "wires": [
            [
                "861a14172d4289dd"
            ]
        ]
    },
    {
        "id": "861a14172d4289dd",
        "type": "function",
        "z": "de075408ef8a8106",
        "g": "5dae8e19c41a8d58",
        "name": "get colour from command",
        "func": "//Separamos primero el espacio del comando del colores\nvar arrayluz = msg.payload.content.split(\" \",2);\n//Una vez que tenemos el comando de colores los separamos \nvar arrayrgb = arrayluz[1].split(\",\",3);\nvar chatId = msg.payload.chatId;\n\nmsg.payload = {};\n\nvar rojo = parseInt(arrayrgb[0]);\nvar verde = parseInt(arrayrgb[1]);\nvar azul = parseInt(arrayrgb[2]);\n\n\nif ((0 <= rojo <= 255)&&(0 <= verde <= 255)&&(0 <= azul <= 255)){\n    msg.payload.content = \"\\r\\nSe cambiará el color rojo a: \" + rojo;\n    msg.payload.content += \"\\r\\nSe cambiará el color verde a: \" + verde;\n    msg.payload.content += \"\\r\\nSe cambiará el color azul a: \" + azul;\n    \n    msg.payload.r = rojo;\n    msg.payload.g = verde;\n    msg.payload.b = azul;\n}\nelse{\n    msg.payload.content = \"\\r\\nColor introducido erróneamente\";\n}\n\n\n//global.get(\"connection\", msg.payload.chatId);\nmsg.payload.type = \"message\";\nmsg.payload.chatId = chatId;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 200,
        "wires": [
            [
                "ea32bc23cd5a2ebf"
            ]
        ]
    },
    {
        "id": "ea32bc23cd5a2ebf",
        "type": "telegram sender",
        "z": "de075408ef8a8106",
        "g": "5dae8e19c41a8d58",
        "name": "respuestas",
        "bot": "d22748c464667302",
        "haserroroutput": false,
        "outputs": 1,
        "x": 310,
        "y": 280,
        "wires": [
            [
                "53f3657f8dce273e"
            ]
        ]
    },
    {
        "id": "21378628b3d5bb90",
        "type": "change",
        "z": "de075408ef8a8106",
        "g": "5dae8e19c41a8d58",
        "name": "delete trash",
        "rules": [
            {
                "t": "delete",
                "p": "payload.content",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "payload.chatId",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "payload.type",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 890,
        "y": 620,
        "wires": [
            [
                "d5e4cd8a5a42b191"
            ]
        ]
    },
    {
        "id": "53f3657f8dce273e",
        "type": "change",
        "z": "de075408ef8a8106",
        "g": "5dae8e19c41a8d58",
        "name": "delete trash",
        "rules": [
            {
                "t": "delete",
                "p": "payload.content",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "payload.chatId",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "payload.type",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 470,
        "y": 280,
        "wires": [
            [
                "a3a3104277ec5000"
            ]
        ]
    },
    {
        "id": "216fdc4082f04251",
        "type": "telegram sender",
        "z": "de075408ef8a8106",
        "g": "dd2a2df5e5591e61",
        "name": "",
        "bot": "d22748c464667302",
        "haserroroutput": false,
        "outputs": 1,
        "x": 1570,
        "y": 1640,
        "wires": [
            []
        ]
    },
    {
        "id": "a2d6efbc4faa35f6",
        "type": "function",
        "z": "de075408ef8a8106",
        "g": "dd2a2df5e5591e61",
        "name": "",
        "func": "var date = msg.payload.date;\nvar message = \"WARNING: \" + date.toLocaleString('es-ES', {timeZone: 'Europe/Madrid', hour12: false});\nmessage += \"\\r\\nError. Umbrales introducidos erróneamente\";\n\nmsg.payload = {};\n\nmsg.payload.content = message;\nmsg.payload.type = \"message\";\nmsg.payload.chatId = -1001667403617;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1340,
        "y": 1640,
        "wires": [
            [
                "216fdc4082f04251"
            ]
        ]
    },
    {
        "id": "9b0108fd49841d19",
        "type": "telegram sender",
        "z": "de075408ef8a8106",
        "g": "9cc65e5076215eb6",
        "name": "",
        "bot": "d22748c464667302",
        "haserroroutput": false,
        "outputs": 1,
        "x": 3930,
        "y": 980,
        "wires": [
            []
        ]
    },
    {
        "id": "22d7372b567214d0",
        "type": "function",
        "z": "de075408ef8a8106",
        "g": "9cc65e5076215eb6",
        "name": "",
        "func": "var date = msg.payload.date;\nvar message = \"WARNING: \" + date.toLocaleString('es-ES', {timeZone: 'Europe/Madrid', hour12: false});\nmessage += \"\\r\\nIluminación por debajo del nivel crítico\";\n\nmsg.payload = {};\n\nmsg.payload.content = message;\nmsg.payload.type = \"message\";\nmsg.payload.chatId = -1001667403617;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3720,
        "y": 980,
        "wires": [
            [
                "9b0108fd49841d19"
            ]
        ]
    },
    {
        "id": "5f01b0312de8a5c3",
        "type": "comment",
        "z": "de075408ef8a8106",
        "g": "5dae8e19c41a8d58",
        "name": "CONTROL RGB",
        "info": "CONTROL DEL LED",
        "x": 260,
        "y": 120,
        "wires": []
    },
    {
        "id": "cdba846f125ec4aa",
        "type": "comment",
        "z": "de075408ef8a8106",
        "g": "e0b5f2d450afd5b6",
        "name": "CONTROL MODOS",
        "info": "",
        "x": 270,
        "y": 840,
        "wires": []
    },
    {
        "id": "59452b4492f92219",
        "type": "comment",
        "z": "de075408ef8a8106",
        "g": "9cc65e5076215eb6",
        "name": "DATOSVMA407N",
        "info": "",
        "x": 2710,
        "y": 900,
        "wires": []
    },
    {
        "id": "8a93e32277e16838",
        "type": "comment",
        "z": "de075408ef8a8106",
        "g": "97771dc947157f6d",
        "name": "TELEGRAM",
        "info": "",
        "x": 2670,
        "y": 120,
        "wires": []
    },
    {
        "id": "b8ec7d8e86ad0376",
        "type": "comment",
        "z": "de075408ef8a8106",
        "g": "dd2a2df5e5591e61",
        "name": "PARAMETROS CONFIGURACION",
        "info": "",
        "x": 340,
        "y": 1240,
        "wires": []
    },
    {
        "id": "6fc22e86d491535b",
        "type": "comment",
        "z": "de075408ef8a8106",
        "g": "10ca8e2aa02a4613",
        "name": "STATUS ALMACENAR",
        "info": "",
        "x": 300,
        "y": 1840,
        "wires": []
    },
    {
        "id": "9eb11f07c608db78",
        "type": "comment",
        "z": "de075408ef8a8106",
        "g": "3c64428d5ae85b5e",
        "name": "EXCEL",
        "info": "",
        "x": 2650,
        "y": 2020,
        "wires": []
    },
    {
        "id": "91a20dd32a88bcc7",
        "type": "comment",
        "z": "de075408ef8a8106",
        "g": "ce9127cdcf98a345",
        "name": "CONSULTA REGISTROS",
        "info": "",
        "x": 2730,
        "y": 1480,
        "wires": []
    },
    {
        "id": "0ac27d9a8b2c4452",
        "type": "comment",
        "z": "de075408ef8a8106",
        "g": "488b6d0769cb0f3b",
        "name": "STATUS MOSTRAR",
        "info": "",
        "x": 280,
        "y": 2340,
        "wires": []
    },
    {
        "id": "b1260a130b8a9bb3",
        "type": "comment",
        "z": "de075408ef8a8106",
        "g": "df483cb5ea10103e",
        "name": "LIMPIAR COLECCIONES",
        "info": "",
        "x": 2730,
        "y": 2400,
        "wires": []
    },
    {
        "id": "3aa61aabad49ec60",
        "type": "inject",
        "z": "de075408ef8a8106",
        "g": "e0b5f2d450afd5b6",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "v": "0",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 890,
        "y": 840,
        "wires": [
            [
                "3d415003e52784ee",
                "14b0e1558105d8ad",
                "11777c226ecb7ebc"
            ]
        ]
    },
    {
        "id": "7a9e946c575f0c58",
        "type": "switch",
        "z": "de075408ef8a8106",
        "g": "9cc65e5076215eb6",
        "name": "",
        "property": "automatico",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 3050,
        "y": 920,
        "wires": [
            [
                "92480a9217589f82"
            ]
        ]
    },
    {
        "id": "52cef40dfc0942cb",
        "type": "ui_button",
        "z": "de075408ef8a8106",
        "g": "84c380b141d1efdf",
        "name": "",
        "group": "43f8774a7d6f73e8",
        "order": 16,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Buscar FOTA",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "1",
        "payloadType": "num",
        "topic": "topic",
        "topicType": "msg",
        "x": 1420,
        "y": 1940,
        "wires": [
            [
                "1b59586c36971e51"
            ]
        ]
    },
    {
        "id": "1b59586c36971e51",
        "type": "change",
        "z": "de075408ef8a8106",
        "g": "84c380b141d1efdf",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "FOTA",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1600,
        "y": 1940,
        "wires": [
            [
                "440f60d257bebcee"
            ]
        ]
    },
    {
        "id": "440f60d257bebcee",
        "type": "function",
        "z": "de075408ef8a8106",
        "g": "84c380b141d1efdf",
        "name": "",
        "func": "msg.payload={};\nmsg.payload.fota = flow.get(\"FOTA\");\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1760,
        "y": 1940,
        "wires": [
            [
                "7b1fec78953387df"
            ]
        ]
    },
    {
        "id": "7b1fec78953387df",
        "type": "mqtt out",
        "z": "de075408ef8a8106",
        "g": "84c380b141d1efdf",
        "name": "",
        "topic": "II11/ESP0010C48E/FOTA",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "04bc427a36cc5248",
        "x": 1990,
        "y": 1940,
        "wires": []
    },
    {
        "id": "581bda31f009290e",
        "type": "comment",
        "z": "de075408ef8a8106",
        "g": "84c380b141d1efdf",
        "name": "FOTA",
        "info": "",
        "x": 1370,
        "y": 1860,
        "wires": []
    },
    {
        "id": "04bc427a36cc5248",
        "type": "mqtt-broker",
        "name": "",
        "broker": "iot.ac.uma.es",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "ba999e6d4e51b0a9",
        "type": "ui_group",
        "name": "SENSOR",
        "tab": "7887a47d2279a306",
        "order": 2,
        "disp": true,
        "width": "8",
        "collapse": false,
        "className": ""
    },
    {
        "id": "43f8774a7d6f73e8",
        "type": "ui_group",
        "name": "CONFIGURACION",
        "tab": "7887a47d2279a306",
        "order": 1,
        "disp": true,
        "width": "7",
        "collapse": false,
        "className": ""
    },
    {
        "id": "7d816a01a4a4b0c4",
        "type": "ui_group",
        "name": "MODOS DE FUNCIONAMIENTO",
        "tab": "7887a47d2279a306",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "9a4ea4864bcd614a",
        "type": "ui_group",
        "name": "CONSULTA DE DATOS",
        "tab": "7887a47d2279a306",
        "order": 4,
        "disp": true,
        "width": "8",
        "collapse": false,
        "className": ""
    },
    {
        "id": "113b3e6854d3cfbe",
        "type": "mongodb",
        "hostname": "iot.ac.uma.es",
        "topology": "direct",
        "connectOptions": "",
        "port": "27017",
        "db": "II11",
        "name": ""
    },
    {
        "id": "8928846c6452fd0f",
        "type": "ui_group",
        "name": "INTRODUCIR VALORES",
        "tab": "7887a47d2279a306",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d22748c464667302",
        "type": "telegram bot",
        "botname": "ProyectoIoT_G11_bot",
        "usernames": "",
        "chatids": "",
        "baseapiurl": "",
        "updatemode": "polling",
        "pollinterval": "300",
        "usesocks": false,
        "sockshost": "",
        "socksport": "6667",
        "socksusername": "anonymous",
        "sockspassword": "",
        "bothost": "",
        "botpath": "",
        "localbotport": "8443",
        "publicbotport": "8443",
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "sslterminated": false,
        "verboselogging": false
    },
    {
        "id": "7887a47d2279a306",
        "type": "ui_tab",
        "name": "TRABAJO",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    }
]